Repository autowarefoundation/autoware_tools, pull requests merged in 2024-12, with the labels that each got.

#158 refactor(glog_component): prefix package and namespace with autoware
  planning/autoware_planning_data_analyzer/launch/behavior_analyzer.launch.xml
Labels: tag:run-build-and-test-differential, component:planning

#159 refactor(global_parameter_loader): prefix package and namespace with autoware
  control/vehicle_cmd_analyzer/launch/vehicle_cmd_analyzer.launch.xml
  planning/autoware_planning_data_analyzer/launch/behavior_analyzer.launch.xml
  vehicle/parameter_estimator/launch/parameter_estimator.launch.xml
Labels: tag:run-build-and-test-differential, component:planning, component:vehicle, component:control

#168 ci(spell-check): use awf dict
  .github/workflows/spell-check-all.yaml
  .github/workflows/spell-check-partial.yaml
Labels: type:ci, tag:run-build-and-test-differential

#167 feat(control_data_collecting_tool): add masks to specify data collection range
  control_data_collecting_tool/README.md
  control_data_collecting_tool/config/common_param.yaml
  control_data_collecting_tool/config/masks/default/default_Velocity_Acceleration.txt
  control_data_collecting_tool/config/masks/default/default_Velocity_Steering.txt
  control_data_collecting_tool/config/masks/default/default_Velocity_Steering_Rate.txt
  control_data_collecting_tool/resource/data_collection_status.png
  control_data_collecting_tool/resource/mask_selection.png
  control_data_collecting_tool/resource/original.png
  control_data_collecting_tool/scripts/courses/along_road.py
  control_data_collecting_tool/scripts/courses/base_course.py
  control_data_collecting_tool/scripts/courses/figure_eight.py
  control_data_collecting_tool/scripts/courses/reversal_loop_circle.py
  control_data_collecting_tool/scripts/courses/straight_line_negative.py
  control_data_collecting_tool/scripts/courses/straight_line_positive.py
  control_data_collecting_tool/scripts/courses/u_shaped.py
  control_data_collecting_tool/scripts/data_collecting_base_node.py
  control_data_collecting_tool/scripts/data_collecting_data_counter.py
  control_data_collecting_tool/scripts/data_collecting_plotter.py
  control_data_collecting_tool/scripts/data_collecting_pure_pursuit_trajectory_follower.py
  control_data_collecting_tool/scripts/data_collecting_trajectory_publisher.py
  control_data_collecting_tool/scripts/mask/mask_selector.py
Labels: tag:run-build-and-test-differential, type:documentation

#169 fix(lanelet2_map_validator): fixed issue that invalid prerequisites are not reflected to the results
  map/autoware_lanelet2_map_validator/src/common/validation.cpp
Labels: tag:run-build-and-test-differential, component:map

#124 fix(deviation_evaluator): add autoware prefix to vehicle_velocity_converter
  localization/deviation_estimation_tools/deviation_evaluator/launch/deviation_evaluator.launch.xml
Labels: tag:run-build-and-test-differential, component:localization

#160 feat(autoware_debug_tools): add rosout_log_reconstructor.py
  common/autoware_debug_tools/README.md
  common/autoware_debug_tools/autoware_debug_tools/rosout_log_reconstructor.py
  common/autoware_debug_tools/images/rosout_log_example.png
  common/autoware_debug_tools/setup.py
Labels: tag:run-build-and-test-differential, type:documentation, component:common

#170 docs(lanelet2_map_validator): add a new document how_to_contribute.md
  map/autoware_lanelet2_map_validator/README.md
  map/autoware_lanelet2_map_validator/docs/how_to_contribute.md
  map/autoware_lanelet2_map_validator/media/autoware_lanelet2_map_validator_io.svg
Labels: tag:run-build-and-test-differential, type:documentation, tag:deploy-docs, component:map

#171 feat(lanelet2_map_validator): check whether intersection_area satisfies vm-03-08
  map/autoware_lanelet2_map_validator/CMakeLists.txt
  map/autoware_lanelet2_map_validator/README.md
  map/autoware_lanelet2_map_validator/autoware_requirement_set.json
  map/autoware_lanelet2_map_validator/docs/intersection/intersection_area_segment_type.md
  map/autoware_lanelet2_map_validator/docs/intersection/intersection_area_validity.md
  map/autoware_lanelet2_map_validator/src/include/lanelet2_map_validator/validators/intersection/intersection_area_segment_type.hpp
  map/autoware_lanelet2_map_validator/src/include/lanelet2_map_validator/validators/intersection/intersection_area_validity.hpp
  map/autoware_lanelet2_map_validator/src/validators/intersection/intersection_area_segment_type.cpp
  map/autoware_lanelet2_map_validator/src/validators/intersection/intersection_area_validity.cpp
  map/autoware_lanelet2_map_validator/test/data/map/intersection/basic_intersection_area.osm
  map/autoware_lanelet2_map_validator/test/data/map/intersection/intersection_area_with_irrelative_point.osm
  map/autoware_lanelet2_map_validator/test/data/map/intersection/intersection_area_with_self_intersection.osm
  map/autoware_lanelet2_map_validator/test/data/map/intersection/intersection_area_with_wrong_linestring_type.osm
  map/autoware_lanelet2_map_validator/test/data/map/intersection/intersection_area_with_wrong_orientation.osm
  map/autoware_lanelet2_map_validator/test/data/map/sample_map.osm
  map/autoware_lanelet2_map_validator/test/src/test_intersection_area_segment_type.cpp
  map/autoware_lanelet2_map_validator/test/src/test_intersection_area_validity.cpp
Labels: tag:run-build-and-test-differential, type:documentation, tag:deploy-docs, component:map

#174 ci(sync-files): utilize the sync-file-templates repository
  .github/sync-files.yaml
Labels: type:ci, tag:run-build-and-test-differential

#178 fix: to use autoware_lanelet2_extension
  driving_environment_analyzer/package.xml
  driving_environment_analyzer/src/utils.cpp
Labels: tag:run-build-and-test-differential

#181 feat(tier4_xxx_rviz_plugin): use StringStamped in autoware_internal_debug_msgs
  common/tier4_debug_rviz_plugin/include/tier4_debug_rviz_plugin/string_stamped.hpp
  common/tier4_debug_rviz_plugin/package.xml
  common/tier4_debug_rviz_plugin/plugins/plugin_description.xml
  common/tier4_debug_rviz_plugin/src/string_stamped.cpp
  common/tier4_string_viewer_rviz_plugin/README.md
  common/tier4_string_viewer_rviz_plugin/package.xml
  common/tier4_string_viewer_rviz_plugin/src/string_viewer_panel.hpp
Labels: tag:run-build-and-test-differential, type:documentation, component:common

#179 feat(control_data_collecting_tool): improve README and a slight modification to the data collection logic
  control_data_collecting_tool/README.md
  control_data_collecting_tool/config/common_param.yaml
  control_data_collecting_tool/config/course_param/reversal_loop_circle_param.yaml
  control_data_collecting_tool/resource/boundary.png
  control_data_collecting_tool/resource/boundary_counter_clockwise.png
  control_data_collecting_tool/resource/circumscribing_circle.png
  control_data_collecting_tool/resource/circumscribing_circle_counter_clockwise.png
  control_data_collecting_tool/resource/common_tangent.png
  control_data_collecting_tool/resource/common_tangent_counter_clockwise.png
  control_data_collecting_tool/resource/looking_ahead.png
  control_data_collecting_tool/resource/whole_trajectory.png
  control_data_collecting_tool/scripts/courses/reversal_loop_circle.py
  control_data_collecting_tool/scripts/data_collecting_trajectory_publisher.py
Labels: tag:run-build-and-test-differential, type:documentation

#177 feat(autoware_lanelet_map_validator): add dangling reference checker to non existing intersection_area
  map/autoware_lanelet2_map_validator/CMakeLists.txt
  map/autoware_lanelet2_map_validator/README.md
  map/autoware_lanelet2_map_validator/autoware_requirement_set.json
  map/autoware_lanelet2_map_validator/docs/intersection/intersection_area_dangling_reference.md
  map/autoware_lanelet2_map_validator/src/include/lanelet2_map_validator/validators/intersection/intersection_area_dangling_reference.hpp
  map/autoware_lanelet2_map_validator/src/validators/intersection/intersection_area_dangling_reference.cpp
  map/autoware_lanelet2_map_validator/test/data/map/intersection/intersection_area_with_dangling_reference.osm
  map/autoware_lanelet2_map_validator/test/src/test_intersection_area_dangling_reference.cpp
Labels: tag:run-build-and-test-differential, type:documentation, component:map

#183 chore(lanelet2_map_validator): automate test code compilation and categorize test codes
  map/autoware_lanelet2_map_validator/CMakeLists.txt
  map/autoware_lanelet2_map_validator/test/src/crosswalk/test_missing_regulatory_elements_for_crosswalks.cpp
  map/autoware_lanelet2_map_validator/test/src/crosswalk/test_regulatory_elements_details_for_crosswalks.cpp
  map/autoware_lanelet2_map_validator/test/src/include/map_validation_tester.hpp
  map/autoware_lanelet2_map_validator/test/src/intersection/test_intersection_area_dangling_reference.cpp
  map/autoware_lanelet2_map_validator/test/src/intersection/test_intersection_area_segment_type.cpp
  map/autoware_lanelet2_map_validator/test/src/intersection/test_intersection_area_validity.cpp
  map/autoware_lanelet2_map_validator/test/src/stop_line/test_missing_regulatory_elements_for_stop_lines.cpp
  map/autoware_lanelet2_map_validator/test/src/traffic_light/test_missing_referrers_for_traffic_lights.cpp
  map/autoware_lanelet2_map_validator/test/src/traffic_light/test_missing_regulatory_elements_for_traffic_lights.cpp
  map/autoware_lanelet2_map_validator/test/src/traffic_light/test_regulatory_elements_details_for_traffic_lights.cpp
  map/autoware_lanelet2_map_validator/test/src/traffic_light/test_traffic_light_facing.cpp
Labels: tag:run-build-and-test-differential, component:map

#180 feat(lanelet2_map_validator): generation script for new validators
  map/autoware_lanelet2_map_validator/CMakeLists.txt
  map/autoware_lanelet2_map_validator/docs/how_to_contribute.md
  map/autoware_lanelet2_map_validator/template/create_new_validator.py
  map/autoware_lanelet2_map_validator/template/test_validator_template.cpp
  map/autoware_lanelet2_map_validator/template/validator_template.cpp
  map/autoware_lanelet2_map_validator/template/validator_template.hpp
  map/autoware_lanelet2_map_validator/template/validator_template.md
Labels: tag:run-build-and-test-differential, type:documentation, component:map

#184 feat: use autoware_internal_debug_msgs in processing_time_plotter.py
  common/autoware_debug_tools/autoware_debug_tools/system_performance_plotter/cpu_usage_plotter.py
  common/autoware_debug_tools/autoware_debug_tools/system_performance_plotter/memory_usage_plotter.py
  common/autoware_debug_tools/autoware_debug_tools/system_performance_plotter/processing_time_plotter.py
  common/autoware_debug_tools/autoware_debug_tools/system_performance_plotter/system_performance_plotter_base.py
Labels: tag:run-build-and-test-differential, component:common
