Repository autowarefoundation/autoware_tools, pull requests merged in 2024-09, with the labels that each got.

#98 refactor(path_optimizer): rename package name and fix trajectory visualizer
  common/tier4_logging_level_configure_rviz_plugin/config/logger_config.yaml
  planning/planning_debug_tools/README.md
  planning/planning_debug_tools/launch/trajectory_analyzer.launch.xml
  planning/planning_debug_tools/scripts/closest_velocity_checker.py
  planning/planning_debug_tools/scripts/trajectory_visualizer.py
  planning/planning_debug_tools/scripts/update_logger_level.sh
Labels: tag:run-build-and-test-differential, type:documentation, component:common, component:planning

#103 feat(planning_data_analyzer): add new package
  .cspell-partial.json
  planning/autoware_planning_data_analyzer/CMakeLists.txt
  planning/autoware_planning_data_analyzer/README.md
  planning/autoware_planning_data_analyzer/config/behavior_analyzer.json
  planning/autoware_planning_data_analyzer/config/behavior_analyzer.param.yaml
  planning/autoware_planning_data_analyzer/docs/planning_data_analyzer.png
  planning/autoware_planning_data_analyzer/launch/behavior_analyzer.launch.xml
  planning/autoware_planning_data_analyzer/package.xml
  planning/autoware_planning_data_analyzer/src/data_structs.cpp
  planning/autoware_planning_data_analyzer/src/data_structs.hpp
  planning/autoware_planning_data_analyzer/src/node.cpp
  planning/autoware_planning_data_analyzer/src/node.hpp
  planning/autoware_planning_data_analyzer/src/type_alias.hpp
  planning/autoware_planning_data_analyzer/src/utils.hpp
Labels: tag:run-build-and-test-differential, type:documentation, tag:deploy-docs, component:planning

#100 feat(map): add pointcloud divider and pointcloud merger
  map/autoware_pointcloud_divider/CMakeLists.txt
  map/autoware_pointcloud_divider/LICENSE
  map/autoware_pointcloud_divider/README.md
  map/autoware_pointcloud_divider/config/pointcloud_divider.param.yaml
  map/autoware_pointcloud_divider/docs/output_file_name_pattern.drawio.svg
  map/autoware_pointcloud_divider/docs/pcd_divider.drawio.svg
  map/autoware_pointcloud_divider/include/autoware/pointcloud_divider/centroid.hpp
  map/autoware_pointcloud_divider/include/autoware/pointcloud_divider/grid_info.hpp
  map/autoware_pointcloud_divider/include/autoware/pointcloud_divider/pcd_divider.hpp
  map/autoware_pointcloud_divider/include/autoware/pointcloud_divider/pcd_io.hpp
  map/autoware_pointcloud_divider/include/autoware/pointcloud_divider/pcd_io_reader.hpp
  map/autoware_pointcloud_divider/include/autoware/pointcloud_divider/pcd_io_writer.hpp
  map/autoware_pointcloud_divider/include/autoware/pointcloud_divider/utility.hpp
  map/autoware_pointcloud_divider/include/autoware/pointcloud_divider/voxel_grid_filter.hpp
  map/autoware_pointcloud_divider/launch/pointcloud_divider.launch.py
  map/autoware_pointcloud_divider/launch/pointcloud_divider.launch.xml
  map/autoware_pointcloud_divider/package.xml
  map/autoware_pointcloud_divider/schema/pointcloud_divider.schema.json
  map/autoware_pointcloud_divider/src/include/pointcloud_divider_node.hpp
  map/autoware_pointcloud_divider/src/pcd_divider.cpp
  map/autoware_pointcloud_divider/src/pointcloud_divider_node.cpp
  map/autoware_pointcloud_divider/src/voxel_grid_filter.cpp
  map/autoware_pointcloud_merger/CMakeLists.txt
  map/autoware_pointcloud_merger/LICENSE
  map/autoware_pointcloud_merger/README.md
  map/autoware_pointcloud_merger/config/pointcloud_merger.param.yaml
  map/autoware_pointcloud_merger/include/autoware/pointcloud_merger/pcd_merger.hpp
  map/autoware_pointcloud_merger/launch/pointcloud_merger.launch.py
  map/autoware_pointcloud_merger/launch/pointcloud_merger.launch.xml
  map/autoware_pointcloud_merger/package.xml
  map/autoware_pointcloud_merger/schema/pointcloud_merger.schema.json
  map/autoware_pointcloud_merger/src/include/pointcloud_merger_node.hpp
  map/autoware_pointcloud_merger/src/pcd_merger.cpp
  map/autoware_pointcloud_merger/src/pointcloud_merger_node.cpp
Labels: tag:run-build-and-test-differential, type:documentation, tag:deploy-docs, component:map

#109 chore: add percpetion msgs to dependance
  build_depends.repos
  planning/planning_debug_tools/package.xml
Labels: tag:run-build-and-test-differential, component:planning

#112 feat(map): port lanelet2_map_preprocessor from autoware.universe
  build_depends.repos
  map/autoware_lanelet2_map_utils/CMakeLists.txt
  map/autoware_lanelet2_map_utils/README.md
  map/autoware_lanelet2_map_utils/config/fix_z_value_by_pcd.param.yaml
  map/autoware_lanelet2_map_utils/config/transform_maps.param.yaml
  map/autoware_lanelet2_map_utils/launch/fix_z_value_by_pcd.launch.xml
  map/autoware_lanelet2_map_utils/launch/transform_maps.launch.xml
  map/autoware_lanelet2_map_utils/package.xml
  map/autoware_lanelet2_map_utils/schema/transform_maps.schema.json
  map/autoware_lanelet2_map_utils/src/fix_lane_change_tags.cpp
  map/autoware_lanelet2_map_utils/src/fix_z_value_by_pcd.cpp
  map/autoware_lanelet2_map_utils/src/merge_close_lines.cpp
  map/autoware_lanelet2_map_utils/src/merge_close_points.cpp
  map/autoware_lanelet2_map_utils/src/remove_unreferenced_geometry.cpp
  map/autoware_lanelet2_map_utils/src/transform_maps.cpp
Labels: tag:run-build-and-test-differential, type:documentation, component:map

#111 fix: fixed a bug from autoware pointcloud merger
  map/autoware_pointcloud_merger/src/pcd_merger.cpp
Labels: tag:run-build-and-test-differential, component:map

#114 fix(autoware_pointcloud_divider): fix a bug in the customized pcd reader
  map/autoware_pointcloud_divider/include/autoware/pointcloud_divider/pcd_io_reader.hpp
Labels: tag:run-build-and-test-differential, component:map

#115 chore: remove the support to auto-msgs.
  build_depends.repos
  planning/planning_debug_tools/package.xml
  planning/planning_debug_tools/scripts/perception_replayer/perception_replayer_common.py
Labels: tag:run-build-and-test-differential, component:planning

#104 feat(rtc_manager_panel): add cooperateStatus state column
  common/rtc_manager_rviz_plugin/src/rtc_manager_panel.cpp
  common/rtc_manager_rviz_plugin/src/rtc_manager_panel.hpp
Labels: tag:run-build-and-test-differential, component:common

#116 perf(planning_data_analyzer): improve performance of weight grid search
  planning/autoware_planning_data_analyzer/config/behavior_analyzer.param.yaml
  planning/autoware_planning_data_analyzer/src/data_structs.cpp
  planning/autoware_planning_data_analyzer/src/data_structs.hpp
  planning/autoware_planning_data_analyzer/src/node.cpp
  planning/autoware_planning_data_analyzer/src/node.hpp
Labels: tag:run-build-and-test-differential, component:planning

#119 fix(ekf_localizer): add autoware prefix to ekf_localizer
  localization/deviation_estimation_tools/deviation_evaluator/launch/deviation_evaluator.launch.xml
Labels: tag:run-build-and-test-differential, component:localization

#117 style: update rviz plugin icons to match the theme
  common/tier4_automatic_goal_rviz_plugin/icons/classes/AutowareAutomaticCheckpointTool.png
  common/tier4_automatic_goal_rviz_plugin/icons/classes/AutowareAutomaticGoalTool.png
Labels: tag:run-build-and-test-differential, type:documentation, component:common

#110 refactor: update signal_processing downstream dependencies
  control/stop_accel_evaluator/include/stop_accel_evaluator/stop_accel_evaluator_node.hpp
  control/stop_accel_evaluator/package.xml
  driving_environment_analyzer/package.xml
Labels: tag:run-build-and-test-differential, component:control

#123 fix(driving_environment_analyzer): remove unused autoware_interpolation dependency
  driving_environment_analyzer/package.xml
Labels: tag:run-build-and-test-differential

#113 feat(data_collecting_tool): add multiple courses
  control_data_collecting_tool/CMakeLists.txt
  control_data_collecting_tool/README.md
  control_data_collecting_tool/config/param.yaml
  control_data_collecting_tool/launch/control_data_collecting_tool.launch.py
  control_data_collecting_tool/resource/figure_eight.png
  control_data_collecting_tool/resource/straight_line.png
  control_data_collecting_tool/resource/u_shaped.png
  control_data_collecting_tool/scripts/data_collecting_pure_pursuit_trajectory_follower.py
  control_data_collecting_tool/scripts/data_collecting_trajectory_publisher.py
Labels: tag:run-build-and-test-differential, type:documentation
