Repository autowarefoundation/autoware_tools, pull requests merged in 2024-08, with the labels that each got.

#89 feat(dependency_checker): add dependency checker script
  autoware_dependency_checker/CMakeLists.txt
  autoware_dependency_checker/README.md
  autoware_dependency_checker/package.xml
  autoware_dependency_checker/scripts/dependency_checker.sh
Labels: tag:run-build-and-test-differential, type:documentation

#90 feat(processing_time_visualizer): add summarize option
  common/autoware_debug_tools/README.md
  common/autoware_debug_tools/autoware_debug_tools/processing_time_visualizer/node.py
  common/autoware_debug_tools/autoware_debug_tools/processing_time_visualizer/print_tree.py
  common/autoware_debug_tools/autoware_debug_tools/processing_time_visualizer/tree.py
Labels: tag:run-build-and-test-differential, type:documentation, component:common

#91 feat(autoware_debug_tools): add system performance plotter
  common/autoware_debug_tools/README.md
  common/autoware_debug_tools/autoware_debug_tools/system_performance_plotter/cpu_usage_plotter.py
  common/autoware_debug_tools/autoware_debug_tools/system_performance_plotter/memory_usage_plotter.py
  common/autoware_debug_tools/autoware_debug_tools/system_performance_plotter/processing_time_plotter.py
  common/autoware_debug_tools/autoware_debug_tools/system_performance_plotter/system_performance_plotter_base.py
  common/autoware_debug_tools/autoware_debug_tools/system_performance_plotter/utils.py
  common/autoware_debug_tools/images/cpu_usage_plot_example.png
  common/autoware_debug_tools/images/processing_time_plot_example.png
  common/autoware_debug_tools/setup.py
Labels: tag:run-build-and-test-differential, type:documentation, tag:deploy-docs, component:common

#92 feat(autoware_debug_tools): processing time total processing tree
  common/autoware_debug_tools/autoware_debug_tools/processing_time_visualizer/node.py
  common/autoware_debug_tools/autoware_debug_tools/processing_time_visualizer/tree.py
Labels: tag:run-build-and-test-differential, component:common

#95 feat(processing_time_visualizer): enable to give topic by command arg
  common/autoware_debug_tools/autoware_debug_tools/processing_time_visualizer/node.py
Labels: tag:run-build-and-test-differential, component:common

#96 fix(deviation_estimator): add depend
  localization/deviation_estimation_tools/deviation_estimator/package.xml
Labels: tag:run-build-and-test-differential, component:localization

#99 feat(route_client): print result
  planning/autoware_route_client/scripts/route_client.py
Labels: tag:run-build-and-test-differential, component:planning

#101 feat(control): add lateral deviation monitor
  control/control_debug_tools/scripts/lateral_deviation_monitor.py
Labels: tag:run-build-and-test-differential, component:control

#102 feat(control): print max value in lateral deviation monitor
  control/control_debug_tools/scripts/lateral_deviation_monitor.py
Labels: tag:run-build-and-test-differential, component:control

#105 fix(metrics): fix std::stod exception
  evaluation/tier4_metrics_rviz_plugin/include/metrics_visualize_panel.hpp
Labels: tag:run-build-and-test-differential

#94 chore: changed the package name imu_corrector to autoware_imu_corrector
  localization/deviation_estimation_tools/deviation_evaluator/launch/deviation_evaluator.launch.xml
Labels: tag:run-build-and-test-differential, component:localization

#88 chore: fix topic name in README.md
  evaluation/tier4_metrics_rviz_plugin/README.md
Labels: tag:run-build-and-test-differential, type:documentation

#106 feat(rqt_diagnostic_graph_monitor): ignore status before struct
  system/rqt_diagnostic_graph_monitor/python/module.py
Labels: bug, tag:run-build-and-test-differential, component:system

#93 fix(map_projection_loader): add autoware prefix to map_projection_loader
  driving_environment_analyzer/launch/driving_environment_analyzer.launch.xml
Labels: tag:run-build-and-test-differential
