Repository autowarefoundation/autoware_tools, pull requests merged in 2024-05, with the labels that each got.

#25 fix(localization): fix to pass cspell about localization
  localization/deviation_estimation_tools/deviation_evaluator/launch/deviation_evaluator.launch.xml
  localization/deviation_estimation_tools/deviation_evaluator/scripts/bag_load_utils.py
Labels: tag:run-build-and-test-differential, component:localization

#24 fix: updated pre-commit-hooks-ros version from v0.8.0 to v0.9.0
  .pre-commit-config.yaml
Labels: tag:run-build-and-test-differential

#26 chore(tools): move system and evaluation tools to this repo from autoware.universe
  evaluation/tier4_metrics_rviz_plugin/CMakeLists.txt
  evaluation/tier4_metrics_rviz_plugin/README.md
  evaluation/tier4_metrics_rviz_plugin/icons/classes/MetricsVisualizePanel.png
  evaluation/tier4_metrics_rviz_plugin/include/metrics_visualize_panel.hpp
  evaluation/tier4_metrics_rviz_plugin/package.xml
  evaluation/tier4_metrics_rviz_plugin/plugins/plugin_description.xml
  evaluation/tier4_metrics_rviz_plugin/src/metrics_visualize_panel.cpp
  system/rqt_diagnostic_graph_monitor/CMakeLists.txt
  system/rqt_diagnostic_graph_monitor/README.md
  system/rqt_diagnostic_graph_monitor/package.xml
  system/rqt_diagnostic_graph_monitor/plugin.xml
  system/rqt_diagnostic_graph_monitor/python/__init__.py
  system/rqt_diagnostic_graph_monitor/python/graph.py
  system/rqt_diagnostic_graph_monitor/python/items.py
  system/rqt_diagnostic_graph_monitor/python/module.py
  system/rqt_diagnostic_graph_monitor/python/utils.py
  system/rqt_diagnostic_graph_monitor/python/widget.py
  system/rqt_diagnostic_graph_monitor/script/cui_diagnostic_graph_monitor
  system/rqt_diagnostic_graph_monitor/script/rqt_diagnostic_graph_monitor
Labels: tag:run-build-and-test-differential, type:documentation, component:system

#23 feat(driving_environment_analyzer): add rviz plugin
  __pycache__/mkdocs_macros.cpython-310.pyc
  driving_environment_analyzer/CMakeLists.txt
  driving_environment_analyzer/README.md
  driving_environment_analyzer/images/launch_rviz.png
  driving_environment_analyzer/images/launch_tool.png
  driving_environment_analyzer/images/rviz_overview_1.png
  driving_environment_analyzer/images/rviz_overview_2.png
  driving_environment_analyzer/images/select_directory.png
  driving_environment_analyzer/images/select_target_frame.png
  driving_environment_analyzer/images/select_time.png
  driving_environment_analyzer/include/driving_environment_analyzer/analyzer_core.hpp
  driving_environment_analyzer/include/driving_environment_analyzer/driving_environment_analyzer_node.hpp
  driving_environment_analyzer/include/driving_environment_analyzer/driving_environment_analyzer_rviz_plugin.hpp
  driving_environment_analyzer/include/driving_environment_analyzer/node.hpp
  driving_environment_analyzer/include/driving_environment_analyzer/type_alias.hpp
  driving_environment_analyzer/include/driving_environment_analyzer/utils.hpp
  driving_environment_analyzer/package.xml
  driving_environment_analyzer/plugins/plugin_description.xml
  driving_environment_analyzer/src/analyzer_core.cpp
  driving_environment_analyzer/src/driving_environment_analyzer_node.cpp
  driving_environment_analyzer/src/driving_environment_analyzer_rviz_plugin.cpp
  driving_environment_analyzer/src/node.cpp
  driving_environment_analyzer/src/utils.cpp
Labels: tag:run-build-and-test-differential, type:documentation, tag:deploy-docs

#29 chore(rtc_manager_panel): update module name
  __pycache__/mkdocs_macros.cpython-310.pyc
  common/rtc_manager_rviz_plugin/src/rtc_manager_panel.cpp
Labels: tag:run-build-and-test-differential, component:common
