Repository autowarefoundation/autoware_tools, pull requests merged in 2024-02, with the labels that each got.

#2 chore: add templates for pull requests and issues
  .github/ISSUE_TEMPLATE/bug.yaml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/task.yaml
  .github/pull_request_template.md
Labels: type:ci

#6 feat(bag2lanelet): add bag2lanelet package
  bag2lanelet/CMakeLists.txt
  bag2lanelet/README.md
  bag2lanelet/example/lanelet2_map.osm
  bag2lanelet/image/psim-kashiwanoha-bag2lanelet-original-map.png
  bag2lanelet/image/psim-kashiwanoha-bag2lanelet-vmb-map.png
  bag2lanelet/image/psim-kashiwanoha-sample-map.png
  bag2lanelet/image/vmb-kashiwanoha-bag2lanelet-map.png
  bag2lanelet/package.xml
  bag2lanelet/requirements.txt
  bag2lanelet/scripts/bag2lanelet.py
  bag2lanelet/scripts/bag2map.py
  bag2lanelet/scripts/bag2trajectory.py
  bag2lanelet/scripts/bag2way.py
  bag2lanelet/scripts/lanelet_xml.py
Labels: tag:run-build-and-test-differential, type:documentation

#9 fix: remove accel_brake_map_calibrator
  vehicle/accel_brake_map_calibrator/CMakeLists.txt
  vehicle/accel_brake_map_calibrator/README.md
  vehicle/accel_brake_map_calibrator/config/accel_brake_map_calibrator.param.yaml
  vehicle/accel_brake_map_calibrator/config/accel_brake_map_calibrator.xml
  vehicle/accel_brake_map_calibrator/data/accel_map.csv
  vehicle/accel_brake_map_calibrator/data/accel_map_double_res.csv
  vehicle/accel_brake_map_calibrator/data/brake_map.csv
  vehicle/accel_brake_map_calibrator/data/brake_map_double_res.csv
  vehicle/accel_brake_map_calibrator/include/accel_brake_map_calibrator/accel_brake_map_calibrator_node.hpp
  vehicle/accel_brake_map_calibrator/launch/accel_brake_map_calibrator.launch.xml
  vehicle/accel_brake_map_calibrator/media/actuation_cmd_publisher_util.png
  vehicle/accel_brake_map_calibrator/media/add_panel.png
  vehicle/accel_brake_map_calibrator/media/calib_rviz_image_sample.png
  vehicle/accel_brake_map_calibrator/media/calibrator_button_panel.png
  vehicle/accel_brake_map_calibrator/media/fourcell_RLS.png
  vehicle/accel_brake_map_calibrator/media/log_sample.png
  vehicle/accel_brake_map_calibrator/media/push_calibration_button.png
  vehicle/accel_brake_map_calibrator/media/statistics_sample.png
  vehicle/accel_brake_map_calibrator/package.xml
  vehicle/accel_brake_map_calibrator/rviz/occupancy.rviz
  vehicle/accel_brake_map_calibrator/scripts/__init__.py
  vehicle/accel_brake_map_calibrator/scripts/accel_tester.py
  vehicle/accel_brake_map_calibrator/scripts/actuation_cmd_publisher.py
  vehicle/accel_brake_map_calibrator/scripts/brake_tester.py
  vehicle/accel_brake_map_calibrator/scripts/calc_utils.py
  vehicle/accel_brake_map_calibrator/scripts/config.py
  vehicle/accel_brake_map_calibrator/scripts/csv_reader.py
  vehicle/accel_brake_map_calibrator/scripts/delay_estimator.py
  vehicle/accel_brake_map_calibrator/scripts/log_analyzer.py
  vehicle/accel_brake_map_calibrator/scripts/new_accel_brake_map_server.py
  vehicle/accel_brake_map_calibrator/scripts/plotter.py
  vehicle/accel_brake_map_calibrator/scripts/view_plot.py
  vehicle/accel_brake_map_calibrator/scripts/view_statistics.py
  vehicle/accel_brake_map_calibrator/src/accel_brake_map_calibrator_node.cpp
  vehicle/accel_brake_map_calibrator/src/main.cpp
  vehicle/accel_brake_map_calibrator/test/plot_csv_client_node.py
  vehicle/accel_brake_map_calibrator/test/sim_actuation_status_publisher.py
Labels: tag:run-build-and-test-differential, type:documentation, component:vehicle

#13 feat(driving_environment_analyzer): add new package
  driving_environment_analyzer/CMakeLists.txt
  driving_environment_analyzer/README.md
  driving_environment_analyzer/include/driving_environment_analyzer/node.hpp
  driving_environment_analyzer/launch/driving_environment_analyzer.launch.xml
  driving_environment_analyzer/package.xml
  driving_environment_analyzer/src/node.cpp
Labels: tag:run-build-and-test-differential, type:documentation
