Repository autowarefoundation/autoware_tools, pull requests merged in 2024-06, with the labels that each got.

#31 feat(driving_environment_analyzer): remove dependency to autoware_auto_tf2
  driving_environment_analyzer/package.xml
Labels: tag:run-build-and-test-differential

#30 feat!: change from autoware_auto_msgs to autoware_msgs
  build_depends.repos
  common/tier4_control_rviz_plugin/README.md
  common/tier4_control_rviz_plugin/package.xml
  common/tier4_control_rviz_plugin/src/tools/manual_controller.cpp
  common/tier4_control_rviz_plugin/src/tools/manual_controller.hpp
  common/tier4_debug_tools/include/tier4_debug_tools/lateral_error_publisher.hpp
  common/tier4_debug_tools/package.xml
  common/tier4_debug_tools/src/lateral_error_publisher.cpp
  driving_environment_analyzer/include/driving_environment_analyzer/analyzer_core.hpp
  driving_environment_analyzer/include/driving_environment_analyzer/driving_environment_analyzer_node.hpp
  driving_environment_analyzer/include/driving_environment_analyzer/driving_environment_analyzer_rviz_plugin.hpp
  driving_environment_analyzer/include/driving_environment_analyzer/type_alias.hpp
  driving_environment_analyzer/package.xml
  driving_environment_analyzer/src/analyzer_core.cpp
  driving_environment_analyzer/src/driving_environment_analyzer_node.cpp
  driving_environment_analyzer/src/driving_environment_analyzer_rviz_plugin.cpp
  planning/planning_debug_tools/include/planning_debug_tools/trajectory_analyzer.hpp
  planning/planning_debug_tools/include/planning_debug_tools/util.hpp
  planning/planning_debug_tools/package.xml
  planning/planning_debug_tools/scripts/closest_velocity_checker.py
  planning/planning_debug_tools/scripts/perception_replayer/perception_replayer_common.py
  planning/planning_debug_tools/scripts/trajectory_visualizer.py
  simulator/simulator_compatibility_test/README.md
  simulator/simulator_compatibility_test/package.xml
  simulator/simulator_compatibility_test/simulator_compatibility_test/publishers/ackermann_control_command.py
  simulator/simulator_compatibility_test/simulator_compatibility_test/publishers/control_mode_command.py
  simulator/simulator_compatibility_test/simulator_compatibility_test/publishers/gear_command.py
  simulator/simulator_compatibility_test/simulator_compatibility_test/subscribers/control_mode_report.py
  simulator/simulator_compatibility_test/simulator_compatibility_test/subscribers/gear_report.py
  simulator/simulator_compatibility_test/simulator_compatibility_test/subscribers/hazard_lights_report.py
  simulator/simulator_compatibility_test/simulator_compatibility_test/subscribers/steering_report.py
  simulator/simulator_compatibility_test/simulator_compatibility_test/subscribers/turn_indicators_report.py
  simulator/simulator_compatibility_test/simulator_compatibility_test/subscribers/velocity_report.py
  simulator/simulator_compatibility_test/test_base/test_01_control_mode_and_report.py
  simulator/simulator_compatibility_test/test_base/test_02_change_gear_and_report.py
  simulator/simulator_compatibility_test/test_base/test_03_longitudinal_command_and_report.py
  simulator/simulator_compatibility_test/test_base/test_04_lateral_command_and_report.py
  simulator/simulator_compatibility_test/test_base/test_05_turn_indicators_cmd_and_report.py
  simulator/simulator_compatibility_test/test_base/test_06_hazard_lights_cmd_and_report.py
Labels: tag:run-build-and-test-differential, type:documentation, component:common, component:planning, component:simulation

#34 feat(simulator_compatibility_test): temporariy remove tests for control_mode_command
  simulator/simulator_compatibility_test/test_base/test_01_control_mode_and_report.py
  simulator/simulator_compatibility_test/test_morai_sim/test_01_control_mode_and_report.py
  simulator/simulator_compatibility_test/test_sim_common_manual_testing/test_01_control_mode_and_report.py
Labels: tag:run-build-and-test-differential, component:simulation

#37 refactor(rtc_replayer): prefix rtc replayer
  planning/autoware_rtc_replayer/CMakeLists.txt
  planning/autoware_rtc_replayer/README.md
  planning/autoware_rtc_replayer/include/rtc_replayer/rtc_replayer_node.hpp
  planning/autoware_rtc_replayer/launch/rtc_replayer.launch.xml
  planning/autoware_rtc_replayer/package.xml
  planning/autoware_rtc_replayer/src/autoware_rtc_replayer_node.cpp
Labels: tag:run-build-and-test-differential, type:documentation, component:planning

#36 fix(driving_environment_analyzer): fixed depend pkg name about behavior_path_planner_common
  driving_environment_analyzer/package.xml
Labels: tag:run-build-and-test-differential

#45 ci(build-and-test): and differential ci fixes
  .github/workflows/build-and-test-differential.yaml
  .github/workflows/build-and-test.yaml
Labels: type:ci, tag:run-build-and-test-differential

#38 fix(driving_environment_analyzer): fix dependency and code related to route_handler
  driving_environment_analyzer/include/driving_environment_analyzer/analyzer_core.hpp
  driving_environment_analyzer/include/driving_environment_analyzer/type_alias.hpp
  driving_environment_analyzer/include/driving_environment_analyzer/utils.hpp
  driving_environment_analyzer/package.xml
  driving_environment_analyzer/src/utils.cpp
Labels: tag:run-build-and-test-differential

#42 feat: convert autoware_auto_msg to autoware_msg
  control/vehicle_cmd_analyzer/include/vehicle_cmd_analyzer/vehicle_cmd_analyzer.hpp
  control/vehicle_cmd_analyzer/package.xml
  control/vehicle_cmd_analyzer/src/vehicle_cmd_analyzer.cpp
  localization/deviation_estimation_tools/ReadMe.md
  localization/deviation_estimation_tools/deviation_estimator/include/deviation_estimator/deviation_estimator.hpp
  localization/deviation_estimation_tools/deviation_estimator/package.xml
  localization/deviation_estimation_tools/deviation_estimator/src/deviation_estimator.cpp
  localization/deviation_estimation_tools/deviation_estimator/src/deviation_estimator_main.cpp
  planning/planning_debug_tools/scripts/closest_velocity_checker.py
  vehicle/calibration_adapter/include/calibration_adapter/calibration_adapter_node.hpp
  vehicle/calibration_adapter/include/calibration_adapter/calibration_adapter_node_base.hpp
  vehicle/calibration_adapter/package.xml
  vehicle/calibration_adapter/src/calibration_adapter_node_base.cpp
  vehicle/parameter_estimator/include/parameter_estimator/parameter_estimator_node.hpp
  vehicle/parameter_estimator/package.xml
  vehicle/parameter_estimator/src/parameter_estimator_node.cpp
  vehicle/time_delay_estimator/include/time_delay_estimator/general_time_delay_estimator_node.hpp
  vehicle/time_delay_estimator/include/time_delay_estimator/time_delay_estimator_node.hpp
  vehicle/time_delay_estimator/package.xml
  vehicle/time_delay_estimator/src/general_time_delay_estimator_node.cpp
  vehicle/time_delay_estimator/src/time_delay_estimator_node.cpp
Labels: type:documentation, component:planning, component:vehicle, component:localization, component:control

#40 fix(perception_reproducer): support reproduce/replay old rosbags
  planning/planning_debug_tools/scripts/perception_replayer/perception_replayer.py
  planning/planning_debug_tools/scripts/perception_replayer/perception_replayer_common.py
  planning/planning_debug_tools/scripts/perception_replayer/perception_reproducer.py
Labels: tag:run-build-and-test-differential, component:planning

#46 fix(driving_environment_analyzer): fix unused package dependency
  driving_environment_analyzer/package.xml
Labels: tag:run-build-and-test-differential

#44 feat(perception_replayer): add a new perception_reproducer.
  planning/planning_debug_tools/README.md
  planning/planning_debug_tools/scripts/perception_replayer/perception_reproducer.py
Labels: tag:run-build-and-test-differential, type:documentation, component:planning

#47 fix(deviation_estimator): fix lookup error before subscribe /tf_static
  localization/deviation_estimation_tools/deviation_estimator/src/deviation_estimator_main.cpp
Labels: tag:run-build-and-test-differential, component:localization

#55 ci(build-and-test-differential): fix fetch depth
  .github/workflows/build-and-test-differential-self-hosted.yaml
  .github/workflows/build-and-test-differential.yaml
Labels: bug, type:ci, tag:run-build-and-test-differential

#54 refactor(route_handler)!: include autoware_route_handler
  driving_environment_analyzer/include/driving_environment_analyzer/analyzer_core.hpp
  driving_environment_analyzer/include/driving_environment_analyzer/type_alias.hpp
Labels: tag:run-build-and-test-differential

#50 feat(tier4_logging_level_configure_rviz_plugin): update logger configuration for behavior path planner dynamic obstacle avoidance
  common/tier4_logging_level_configure_rviz_plugin/config/logger_config.yaml
Labels: tag:run-build-and-test-differential, component:common

#52 refactor(autoware_universe_utils)!: rename tier4_autoware_utils to autoware_universe_utils
  common/tier4_automatic_goal_rviz_plugin/package.xml
  common/tier4_automatic_goal_rviz_plugin/src/automatic_goal_panel.cpp
  common/tier4_control_rviz_plugin/package.xml
  common/tier4_debug_tools/package.xml
  common/tier4_logging_level_configure_rviz_plugin/README.md
  common/tier4_logging_level_configure_rviz_plugin/config/logger_config.yaml
  control/stop_accel_evaluator/include/stop_accel_evaluator/stop_accel_evaluator_node.hpp
  control/stop_accel_evaluator/package.xml
  control/stop_accel_evaluator/src/stop_accel_evaluator_node.cpp
  driving_environment_analyzer/package.xml
  driving_environment_analyzer/src/utils.cpp
  localization/deviation_estimation_tools/deviation_estimator/include/deviation_estimator/autoware_universe_utils.hpp
  localization/deviation_estimation_tools/deviation_estimator/include/deviation_estimator/deviation_estimator.hpp
  localization/deviation_estimation_tools/deviation_estimator/include/deviation_estimator/utils.hpp
  localization/deviation_estimation_tools/deviation_estimator/package.xml
  localization/deviation_estimation_tools/deviation_estimator/src/deviation_estimator.cpp
  localization/deviation_estimation_tools/deviation_estimator/src/gyro_bias_module.cpp
  localization/deviation_estimation_tools/deviation_estimator/src/utils.cpp
  localization/deviation_estimation_tools/deviation_estimator/src/velocity_coef_module.cpp
  localization/deviation_estimation_tools/deviation_estimator/test/test_gyro_bias.cpp
  localization/deviation_estimation_tools/deviation_estimator/test/test_gyro_stddev.cpp
  localization/deviation_estimation_tools/deviation_evaluator/include/deviation_evaluator/autoware_universe_utils.hpp
  localization/deviation_estimation_tools/deviation_evaluator/include/deviation_evaluator/deviation_evaluator.hpp
  localization/deviation_estimation_tools/deviation_evaluator/package.xml
  localization/deviation_estimation_tools/deviation_evaluator/src/deviation_evaluator.cpp
  planning/planning_debug_tools/include/planning_debug_tools/trajectory_analyzer.hpp
  planning/planning_debug_tools/include/planning_debug_tools/util.hpp
  planning/planning_debug_tools/package.xml
  planning/planning_debug_tools/src/stop_reason_visualizer.cpp
  vehicle/pitch_checker/include/pitch_checker/pitch_checker.hpp
  vehicle/pitch_checker/package.xml
  vehicle/pitch_checker/src/pitch_checker_node.cpp
Labels: tag:run-build-and-test-differential, type:documentation, component:common, component:planning, component:vehicle, component:localization, component:control

#53 refactor(motion_utils)!: add autoware prefix and include dir
  common/tier4_debug_tools/include/tier4_debug_tools/lateral_error_publisher.hpp
  common/tier4_debug_tools/package.xml
  common/tier4_debug_tools/src/lateral_error_publisher.cpp
  common/tier4_logging_level_configure_rviz_plugin/config/logger_config.yaml
  driving_environment_analyzer/package.xml
  driving_environment_analyzer/src/utils.cpp
  planning/planning_debug_tools/include/planning_debug_tools/trajectory_analyzer.hpp
  planning/planning_debug_tools/include/planning_debug_tools/util.hpp
  planning/planning_debug_tools/package.xml
Labels: tag:run-build-and-test-differential, component:common, component:planning

#59 refactor(universe_utils/motion_utils)!: add autoware namespace
  common/tier4_automatic_goal_rviz_plugin/src/automatic_goal_panel.cpp
  common/tier4_debug_tools/src/lateral_error_publisher.cpp
  control/stop_accel_evaluator/include/stop_accel_evaluator/stop_accel_evaluator_node.hpp
  control/stop_accel_evaluator/src/stop_accel_evaluator_node.cpp
  driving_environment_analyzer/src/utils.cpp
  localization/deviation_estimation_tools/deviation_estimator/include/deviation_estimator/autoware_universe_utils.hpp
  localization/deviation_estimation_tools/deviation_estimator/include/deviation_estimator/deviation_estimator.hpp
  localization/deviation_estimation_tools/deviation_estimator/src/deviation_estimator.cpp
  localization/deviation_estimation_tools/deviation_estimator/src/utils.cpp
  localization/deviation_estimation_tools/deviation_estimator/test/test_gyro_bias.cpp
  localization/deviation_estimation_tools/deviation_estimator/test/test_gyro_stddev.cpp
  localization/deviation_estimation_tools/deviation_evaluator/include/deviation_evaluator/autoware_universe_utils.hpp
  localization/deviation_estimation_tools/deviation_evaluator/include/deviation_evaluator/deviation_evaluator.hpp
  localization/deviation_estimation_tools/deviation_evaluator/src/deviation_evaluator.cpp
  planning/planning_debug_tools/include/planning_debug_tools/trajectory_analyzer.hpp
  planning/planning_debug_tools/include/planning_debug_tools/util.hpp
  planning/planning_debug_tools/src/stop_reason_visualizer.cpp
  vehicle/pitch_checker/include/pitch_checker/pitch_checker.hpp
  vehicle/pitch_checker/src/pitch_checker_node.cpp
Labels: tag:run-build-and-test-differential, component:common, component:planning, component:vehicle, component:localization, component:control

#51 feat(tier4_control_rviz_plugin): change to read topic by polling and add missing subscriber
  .gitignore
  common/tier4_control_rviz_plugin/package.xml
  common/tier4_control_rviz_plugin/src/tools/manual_controller.cpp
  common/tier4_control_rviz_plugin/src/tools/manual_controller.hpp
Labels: type:ci, tag:run-build-and-test-differential, component:common

#58 chore: update codeowners on deviation_estimation_tools
  localization/deviation_estimation_tools/deviation_estimator/package.xml
  localization/deviation_estimation_tools/deviation_evaluator/package.xml
Labels: tag:run-build-and-test-differential, component:localization

#57 fix: change_perception_reproducer_parameter
  planning/planning_debug_tools/scripts/perception_replayer/perception_reproducer.py
Labels: tag:run-build-and-test-differential, component:planning

#60 fix(percerption_replayer): make sure that old message in rosbags can be converted to new type correctly
  planning/planning_debug_tools/scripts/perception_replayer/perception_replayer_common.py
  planning/planning_debug_tools/scripts/perception_replayer/perception_reproducer.py
Labels: tag:run-build-and-test-differential, component:planning

#62 fix(logging_level_configure): change to static_obstacle_avoidance from avoidance
  common/tier4_logging_level_configure_rviz_plugin/config/logger_config.yaml
Labels: tag:run-build-and-test-differential, component:common

#63 fix(perception_replayer): support two kinds of old messages in rosbags
  planning/planning_debug_tools/scripts/perception_replayer/perception_replayer_common.py
Labels: tag:run-build-and-test-differential, component:planning

#64 feat(metrics_visualize_panel): make it possible to hide graph for each metrics
  evaluation/tier4_metrics_rviz_plugin/CMakeLists.txt
  evaluation/tier4_metrics_rviz_plugin/config/metrics_visualize_panel.param.yaml
  evaluation/tier4_metrics_rviz_plugin/include/metrics_visualize_panel.hpp
  evaluation/tier4_metrics_rviz_plugin/package.xml
  evaluation/tier4_metrics_rviz_plugin/src/metrics_visualize_panel.cpp
Labels: tag:run-build-and-test-differential

#66 feat(planning_debug_tools): add cpu_usage_checker.py
  planning/planning_debug_tools/CMakeLists.txt
  planning/planning_debug_tools/README.md
  planning/planning_debug_tools/image/cpu_usage_checker.png
  planning/planning_debug_tools/scripts/cpu_usage_checker.py
Labels: tag:run-build-and-test-differential, type:documentation, tag:deploy-docs, component:planning

#67 feat(autoware_route_client): add autoware_route_client package
  planning/autoware_route_client/CMakeLists.txt
  planning/autoware_route_client/README.md
  planning/autoware_route_client/package.xml
  planning/autoware_route_client/scripts/route_client.py
Labels: tag:run-build-and-test-differential, type:documentation, component:planning

#68 fix: autoware_msgs
  planning/planning_debug_tools/scripts/closest_velocity_checker.py
  simulator/simulator_compatibility_test/simulator_compatibility_test/publishers/ackermann_control_command.py
  simulator/simulator_compatibility_test/test_base/test_03_longitudinal_command_and_report.py
  simulator/simulator_compatibility_test/test_base/test_04_lateral_command_and_report.py
Labels: tag:run-build-and-test-differential, component:planning, component:simulation
