Repository autowarefoundation/autoware_tools, pull requests merged in 2024-11, with the labels that each got.

#141 chore(autoware_lanelet2_map_validator): add maintainers
  map/autoware_lanelet2_map_validator/package.xml
Labels: tag:run-build-and-test-differential, component:map

#143 chore(autoware_lanelet2_map_validator): add requirement vm-02-02 to autoware_requirement_set
  map/autoware_lanelet2_map_validator/README.md
  map/autoware_lanelet2_map_validator/autoware_requirement_set.json
  map/autoware_lanelet2_map_validator/src/validators/stop_line/missing_regulatory_elements_for_stop_lines.cpp
  map/autoware_lanelet2_map_validator/src/validators/validator_template.cpp
Labels: tag:run-build-and-test-differential, type:documentation, component:map

#144 refactor(lanelet2_map_validator): move headers to include/
  map/autoware_lanelet2_map_validator/CMakeLists.txt
  map/autoware_lanelet2_map_validator/src/common/cli.cpp
  map/autoware_lanelet2_map_validator/src/common/validation.cpp
  map/autoware_lanelet2_map_validator/src/include/lanelet2_map_validator/cli.hpp
  map/autoware_lanelet2_map_validator/src/include/lanelet2_map_validator/utils.hpp
  map/autoware_lanelet2_map_validator/src/include/lanelet2_map_validator/validation.hpp
  map/autoware_lanelet2_map_validator/src/include/lanelet2_map_validator/validators/crosswalk/missing_regulatory_elements_for_crosswalks.hpp
  map/autoware_lanelet2_map_validator/src/include/lanelet2_map_validator/validators/crosswalk/regulatory_element_details_for_crosswalks.hpp
  map/autoware_lanelet2_map_validator/src/include/lanelet2_map_validator/validators/stop_line/missing_regulatory_elements_for_stop_lines.hpp
  map/autoware_lanelet2_map_validator/src/include/lanelet2_map_validator/validators/traffic_light/missing_regulatory_elements_for_traffic_lights.hpp
  map/autoware_lanelet2_map_validator/src/include/lanelet2_map_validator/validators/traffic_light/regulatory_element_details_for_traffic_lights.hpp
  map/autoware_lanelet2_map_validator/src/main.cpp
  map/autoware_lanelet2_map_validator/src/validators/crosswalk/missing_regulatory_elements_for_crosswalk.cpp
  map/autoware_lanelet2_map_validator/src/validators/crosswalk/regulatory_element_details_for_crosswalks.cpp
  map/autoware_lanelet2_map_validator/src/validators/stop_line/missing_regulatory_elements_for_stop_lines.cpp
  map/autoware_lanelet2_map_validator/src/validators/traffic_light/missing_regulatory_elements_for_traffic_lights.cpp
  map/autoware_lanelet2_map_validator/src/validators/traffic_light/regulatory_element_details_for_traffic_lights.cpp
  map/autoware_lanelet2_map_validator/test/src/test_missing_regulatory_elements.cpp
  map/autoware_lanelet2_map_validator/test/src/test_regulatory_element_details.cpp
Labels: tag:run-build-and-test-differential, component:map

#146 fix(planning_debug_tools): output engage status properly
  planning/planning_debug_tools/scripts/closest_velocity_checker.py
Labels: tag:run-build-and-test-differential, component:planning

#147 feat(autoware_lanelet2_map_validator): allow prerequisites attribute for input
  map/autoware_lanelet2_map_validator/CMakeLists.txt
  map/autoware_lanelet2_map_validator/README.md
  map/autoware_lanelet2_map_validator/autoware_requirement_set.json
  map/autoware_lanelet2_map_validator/src/common/validation.cpp
  map/autoware_lanelet2_map_validator/src/include/lanelet2_map_validator/validation.hpp
  map/autoware_lanelet2_map_validator/src/main.cpp
  map/autoware_lanelet2_map_validator/test/data/test_describe_unused_validators_input.json
  map/autoware_lanelet2_map_validator/test/data/test_describe_unused_validators_output.json
  map/autoware_lanelet2_map_validator/test/data/test_input.json
  map/autoware_lanelet2_map_validator/test/data/test_summarize_validator_results_input.json
  map/autoware_lanelet2_map_validator/test/data/test_summarize_validator_results_output.json
  map/autoware_lanelet2_map_validator/test/src/test_json_processing.cpp
  map/autoware_lanelet2_map_validator/test/src/test_missing_regulatory_elements.cpp
  map/autoware_lanelet2_map_validator/test/src/test_regulatory_element_details.cpp
Labels: tag:run-build-and-test-differential, type:documentation, tag:deploy-docs, component:map

#148 fix(autoware_lanelet2_map_validator): removed redundant appendIssues()
  map/autoware_lanelet2_map_validator/src/common/validation.cpp
Labels: tag:run-build-and-test-differential, component:map

#151 fix(lanelet2_map_validator): change validation order in regulatory_elements_details
  map/autoware_lanelet2_map_validator/src/validators/crosswalk/regulatory_element_details_for_crosswalks.cpp
  map/autoware_lanelet2_map_validator/src/validators/traffic_light/regulatory_element_details_for_traffic_lights.cpp
  map/autoware_lanelet2_map_validator/test/src/test_regulatory_element_details.cpp
Labels: tag:run-build-and-test-differential, component:map

#122 fix(driving_environment_analyzer): add autoware prefix to map_loader
  driving_environment_analyzer/launch/driving_environment_analyzer.launch.xml
Labels: tag:run-build-and-test-differential

#154 feat(perception_reproducer): add publish route option
  planning/planning_debug_tools/README.md
  planning/planning_debug_tools/scripts/perception_replayer/perception_reproducer.py
  planning/planning_debug_tools/scripts/perception_replayer/utils.py
Labels: tag:run-build-and-test-differential, type:documentation, component:planning

#153 refactor(lalenet2_map_validator): divide map loading process
  map/autoware_lanelet2_map_validator/src/common/map_loader.cpp
  map/autoware_lanelet2_map_validator/src/common/validation.cpp
  map/autoware_lanelet2_map_validator/src/include/lanelet2_map_validator/map_loader.hpp
  map/autoware_lanelet2_map_validator/src/include/lanelet2_map_validator/utils.hpp
  map/autoware_lanelet2_map_validator/src/include/lanelet2_map_validator/validation.hpp
  map/autoware_lanelet2_map_validator/src/main.cpp
Labels: tag:run-build-and-test-differential, component:map

#155 fix(perception_reproducer): fix a small bug
  planning/planning_debug_tools/scripts/perception_replayer/perception_reproducer.py
  planning/planning_debug_tools/scripts/perception_replayer/utils.py
Labels: tag:run-build-and-test-differential, component:planning

#150 feat(lanelet2_map_validator): add test codes for existing validators
  map/autoware_lanelet2_map_validator/CMakeLists.txt
  map/autoware_lanelet2_map_validator/docs/crosswalk/regulatory_element_details_for_crosswalks.md
  map/autoware_lanelet2_map_validator/src/validators/crosswalk/regulatory_element_details_for_crosswalks.cpp
  map/autoware_lanelet2_map_validator/test/data/json/test_describe_unused_validators_input.json
  map/autoware_lanelet2_map_validator/test/data/json/test_describe_unused_validators_output.json
  map/autoware_lanelet2_map_validator/test/data/json/test_input.json
  map/autoware_lanelet2_map_validator/test/data/json/test_summarize_validator_results_input.json
  map/autoware_lanelet2_map_validator/test/data/json/test_summarize_validator_results_output.json
  map/autoware_lanelet2_map_validator/test/data/map/crosswalk/crosswalk_regulatory_element_with_multiple_refers.osm
  map/autoware_lanelet2_map_validator/test/data/map/crosswalk/crosswalk_regulatory_element_without_refers.osm
  map/autoware_lanelet2_map_validator/test/data/map/crosswalk/crosswalk_with_multiple_polygons.osm
  map/autoware_lanelet2_map_validator/test/data/map/crosswalk/crosswalk_with_regulatory_element.osm
  map/autoware_lanelet2_map_validator/test/data/map/crosswalk/crosswalk_with_wrong_polygon_type.osm
  map/autoware_lanelet2_map_validator/test/data/map/crosswalk/crosswalk_with_wrong_ref_line_type.osm
  map/autoware_lanelet2_map_validator/test/data/map/crosswalk/crosswalk_with_wrong_refers_type.osm
  map/autoware_lanelet2_map_validator/test/data/map/crosswalk/crosswalk_without_polygon.osm
  map/autoware_lanelet2_map_validator/test/data/map/crosswalk/crosswalk_without_regulatory_elements.osm
  map/autoware_lanelet2_map_validator/test/data/map/crosswalk/crosswalk_without_stop_line.osm
  map/autoware_lanelet2_map_validator/test/data/map/sample_map.osm
  map/autoware_lanelet2_map_validator/test/data/map/stop_line/stop_line_with_road_marking.osm
  map/autoware_lanelet2_map_validator/test/data/map/stop_line/stop_line_with_traffic_sign.osm
  map/autoware_lanelet2_map_validator/test/data/map/stop_line/stop_line_without_regulatory_elements.osm
  map/autoware_lanelet2_map_validator/test/data/map/traffic_light/traffic_light_regulatory_element_without_ref_line.osm
  map/autoware_lanelet2_map_validator/test/data/map/traffic_light/traffic_light_regulatory_element_without_refers.osm
  map/autoware_lanelet2_map_validator/test/data/map/traffic_light/traffic_light_with_regulatory_element.osm
  map/autoware_lanelet2_map_validator/test/data/map/traffic_light/traffic_light_with_wrong_ref_line_type.osm
  map/autoware_lanelet2_map_validator/test/data/map/traffic_light/traffic_light_with_wrong_refers_type.osm
  map/autoware_lanelet2_map_validator/test/data/map/traffic_light/traffic_light_without_regulatory_element.osm
  map/autoware_lanelet2_map_validator/test/example_requirement_set.json
  map/autoware_lanelet2_map_validator/test/src/map_validation_tester.hpp
  map/autoware_lanelet2_map_validator/test/src/test_json_processing.cpp
  map/autoware_lanelet2_map_validator/test/src/test_missing_regulatory_elements.cpp
  map/autoware_lanelet2_map_validator/test/src/test_missing_regulatory_elements_for_crosswalks.cpp
  map/autoware_lanelet2_map_validator/test/src/test_missing_regulatory_elements_for_stop_lines.cpp
  map/autoware_lanelet2_map_validator/test/src/test_missing_regulatory_elements_for_traffic_lights.cpp
  map/autoware_lanelet2_map_validator/test/src/test_regulatory_element_details.cpp
  map/autoware_lanelet2_map_validator/test/src/test_regulatory_elements_details_for_crosswalks.cpp
  map/autoware_lanelet2_map_validator/test/src/test_regulatory_elements_details_for_traffic_lights.cpp
Labels: tag:run-build-and-test-differential, type:documentation, component:map

#162 chore(autoware_debug_tools): add maintainers
  common/autoware_debug_tools/package.xml
Labels: component:common

#161 fix: to plot "exe_time_ms" of ndt_scan_matcher
  common/autoware_debug_tools/autoware_debug_tools/system_performance_plotter/processing_time_plotter.py
Labels: tag:run-build-and-test-differential, component:common

#163 feat(lanelet2_map_validator): added issue codes
  map/autoware_lanelet2_map_validator/docs/crosswalk/missing_regulatory_elements_for_crosswalk.md
  map/autoware_lanelet2_map_validator/docs/crosswalk/regulatory_element_details_for_crosswalks.md
  map/autoware_lanelet2_map_validator/docs/stop_line/missing_regulatory_elements_for_stop_lines.md
  map/autoware_lanelet2_map_validator/docs/traffic_light/missing_regulatory_elements_for_traffic_lights.md
  map/autoware_lanelet2_map_validator/docs/traffic_light/regulatory_element_details_for_traffic_lights.md
  map/autoware_lanelet2_map_validator/src/common/utils.cpp
  map/autoware_lanelet2_map_validator/src/common/validation.cpp
  map/autoware_lanelet2_map_validator/src/include/lanelet2_map_validator/utils.hpp
  map/autoware_lanelet2_map_validator/src/validators/crosswalk/missing_regulatory_elements_for_crosswalk.cpp
  map/autoware_lanelet2_map_validator/src/validators/crosswalk/regulatory_element_details_for_crosswalks.cpp
  map/autoware_lanelet2_map_validator/src/validators/stop_line/missing_regulatory_elements_for_stop_lines.cpp
  map/autoware_lanelet2_map_validator/src/validators/traffic_light/missing_regulatory_elements_for_traffic_lights.cpp
  map/autoware_lanelet2_map_validator/src/validators/traffic_light/regulatory_element_details_for_traffic_lights.cpp
  map/autoware_lanelet2_map_validator/test/data/json/test_describe_unused_validators_output.json
  map/autoware_lanelet2_map_validator/test/data/json/test_summarize_validator_results_input.json
  map/autoware_lanelet2_map_validator/test/data/json/test_summarize_validator_results_output.json
  map/autoware_lanelet2_map_validator/test/src/test_json_processing.cpp
  map/autoware_lanelet2_map_validator/test/src/test_missing_regulatory_elements_for_crosswalks.cpp
  map/autoware_lanelet2_map_validator/test/src/test_missing_regulatory_elements_for_stop_lines.cpp
  map/autoware_lanelet2_map_validator/test/src/test_missing_regulatory_elements_for_traffic_lights.cpp
  map/autoware_lanelet2_map_validator/test/src/test_regulatory_elements_details_for_crosswalks.cpp
  map/autoware_lanelet2_map_validator/test/src/test_regulatory_elements_details_for_traffic_lights.cpp
Labels: tag:run-build-and-test-differential, type:documentation, component:map

#149 fix(rqt_diagnostic_graph_monitor): add missing dependency
  system/rqt_diagnostic_graph_monitor/package.xml
Labels: tag:run-build-and-test-differential, component:system
