Repository autowarefoundation/autoware_tools, pull requests merged in 2024-07, with the labels that each got.

#33 feat(control_data_collecting_tool): add control_data_collecting_tool
  control_data_collecting_tool/CMakeLists.txt
  control_data_collecting_tool/README.md
  control_data_collecting_tool/launch/control_data_collecting_tool.launch.py
  control_data_collecting_tool/package.xml
  control_data_collecting_tool/plugins/plugin_description.xml
  control_data_collecting_tool/resource/add_rviz_plugin.png
  control_data_collecting_tool/resource/demo.gif
  control_data_collecting_tool/resource/push_LOCAL.png
  control_data_collecting_tool/resource/select_area.gif
  control_data_collecting_tool/resource/select_tool.png
  control_data_collecting_tool/scripts/__init__.py
  control_data_collecting_tool/scripts/data_collecting_pure_pursuit_trajectory_follower.py
  control_data_collecting_tool/scripts/data_collecting_trajectory_publisher.py
  control_data_collecting_tool/src/data_collecting_area_selection.cpp
  control_data_collecting_tool/src/data_collecting_area_selection.hpp
Labels: tag:run-build-and-test-differential, type:documentation

#69 fix(perception reproducer): improve perception reproducer
  planning/planning_debug_tools/scripts/perception_replayer/perception_replayer_common.py
  planning/planning_debug_tools/scripts/perception_replayer/perception_reproducer.py
Labels: tag:run-build-and-test-differential, component:planning

#70 fix(perception replayer): fix a bug in converting old traffic light message.
  planning/planning_debug_tools/scripts/perception_replayer/perception_replayer_common.py
Labels: tag:run-build-and-test-differential, component:planning

#72 feat(perception reproducer): some improvements in perception reproducer.
  planning/planning_debug_tools/scripts/perception_replayer/perception_replayer.py
  planning/planning_debug_tools/scripts/perception_replayer/perception_replayer_common.py
  planning/planning_debug_tools/scripts/perception_replayer/perception_reproducer.py
Labels: tag:run-build-and-test-differential, component:planning

#74 feat: wait until autonomous mode is enabled
  common/tier4_automatic_goal_rviz_plugin/src/automatic_goal_sender.cpp
  common/tier4_automatic_goal_rviz_plugin/src/automatic_goal_sender.hpp
Labels: tag:run-build-and-test-differential, component:common

#75 feat(autoware_debug_tools): add processing time visualizer
  .cspell-partial.json
  common/autoware_debug_tools/README.md
  common/autoware_debug_tools/autoware_debug_tools/__init__.py
  common/autoware_debug_tools/autoware_debug_tools/processing_time_visualizer/__init__.py
  common/autoware_debug_tools/autoware_debug_tools/processing_time_visualizer/node.py
  common/autoware_debug_tools/autoware_debug_tools/processing_time_visualizer/print_tree.py
  common/autoware_debug_tools/autoware_debug_tools/processing_time_visualizer/topic_selector.py
  common/autoware_debug_tools/autoware_debug_tools/processing_time_visualizer/tree.py
  common/autoware_debug_tools/autoware_debug_tools/processing_time_visualizer/utils.py
  common/autoware_debug_tools/images/select-topic.png
  common/autoware_debug_tools/images/visualize-tree.png
  common/autoware_debug_tools/package.xml
  common/autoware_debug_tools/resource/autoware_debug_tools
  common/autoware_debug_tools/setup.cfg
  common/autoware_debug_tools/setup.py
Labels: tag:run-build-and-test-differential, type:documentation, component:common

#79 feat(control_data_collecting_tool): smoothing and bug fix
  control_data_collecting_tool/README.md
  control_data_collecting_tool/scripts/data_collecting_pure_pursuit_trajectory_follower.py
  control_data_collecting_tool/scripts/data_collecting_trajectory_publisher.py
Labels: tag:run-build-and-test-differential, type:documentation

#71 fix: changed map.launch file from .py to .xml
  localization/deviation_estimation_tools/deviation_evaluator/launch/deviation_evaluator.launch.xml
  vehicle/parameter_estimator/launch/parameter_estimator_with_simulation.launch.xml
Labels: tag:run-build-and-test-differential, component:vehicle, component:localization

#85 feat(autoware_debug_tools): add system_usage_monitor.py
  common/autoware_debug_tools/README.md
  common/autoware_debug_tools/autoware_debug_tools/system_usage_monitor.py
  common/autoware_debug_tools/setup.py
  common/autoware_debug_tools/system_usage_monitor.png
  planning/planning_debug_tools/CMakeLists.txt
  planning/planning_debug_tools/README.md
  planning/planning_debug_tools/image/cpu_usage_checker.png
  planning/planning_debug_tools/scripts/cpu_usage_checker.py
Labels: tag:run-build-and-test-differential, type:documentation, component:common, component:planning

#80 feat(tier4_screen_capture_rviz_plugin): add video capture with buffer functionality
  common/tier4_screen_capture_rviz_plugin/README.md
  common/tier4_screen_capture_rviz_plugin/src/screen_capture_panel.cpp
  common/tier4_screen_capture_rviz_plugin/src/screen_capture_panel.hpp
Labels: tag:run-build-and-test-differential, type:documentation, component:common

#83 feat(data_collecting_tool): visualize collected acc and vel grid
  control_data_collecting_tool/package.xml
  control_data_collecting_tool/scripts/data_collecting_trajectory_publisher.py
Labels: tag:run-build-and-test-differential

#82 feat(metrics_visualize): rename topic diagnostic->planning or perception
  evaluation/tier4_metrics_rviz_plugin/include/metrics_visualize_panel.hpp
Labels: tag:run-build-and-test-differential

#86 feat(autoware_dubug_tools): add function to report worst time when r is pressed at the end
  common/autoware_debug_tools/autoware_debug_tools/processing_time_visualizer/node.py
  common/autoware_debug_tools/autoware_debug_tools/processing_time_visualizer/print_tree.py
  common/autoware_debug_tools/autoware_debug_tools/processing_time_visualizer/tree.py
Labels: tag:run-build-and-test-differential, component:common

#87 fix(autoware_debug_tools): the image of system_usage_monitor was wrong
  common/autoware_debug_tools/README.md
  common/autoware_debug_tools/images/system_usage_monitor.png
Labels: tag:run-build-and-test-differential, type:documentation, component:common
