Repository autowarefoundation/autoware_tools, pull requests merged in 2024-10, with the labels that each got.

#126 feat(control_data_collecting_tool): improve `/data_collecting_trajectory_publisher`
  control_data_collecting_tool/CMakeLists.txt
  control_data_collecting_tool/README.md
  control_data_collecting_tool/config/param.yaml
  control_data_collecting_tool/launch/control_data_collecting_tool.launch.py
  control_data_collecting_tool/scripts/data_collecting_plotter.py
  control_data_collecting_tool/scripts/data_collecting_trajectory_publisher.py
Labels: tag:run-build-and-test-differential, type:documentation

#128 feat(tier4_control_rviz_plugin): add timestamp to gear command
  common/tier4_control_rviz_plugin/src/tools/manual_controller.cpp
Labels: tag:run-build-and-test-differential, component:common

#121 feat: use new srv to capture screen shot and movie
  common/tier4_screen_capture_rviz_plugin/CMakeLists.txt
  common/tier4_screen_capture_rviz_plugin/package.xml
  common/tier4_screen_capture_rviz_plugin/plugins/plugin_description.xml
  common/tier4_screen_capture_rviz_plugin/src/screen_capture_panel.cpp
  common/tier4_screen_capture_rviz_plugin/src/screen_capture_panel.hpp
  common/tier4_screen_capture_rviz_plugin/srv/Capture.srv
Labels: tag:run-build-and-test-differential, component:common

#125 fix(autoware_pointcloud_divider): fix the image in README.md
  map/autoware_pointcloud_divider/docs/output_file_name_pattern.drawio.svg
Labels: tag:run-build-and-test-differential, type:documentation, component:map

#135 fix(.github): change runs-on value to to ubuntu-22.04
  .github/workflows/build-and-test-differential.yaml
  .github/workflows/cancel-previous-workflows.yaml
  .github/workflows/check-build-depends.yaml
  .github/workflows/clang-tidy-pr-comments-manually.yaml
  .github/workflows/clang-tidy-pr-comments.yaml
  .github/workflows/delete-closed-pr-docs.yaml
  .github/workflows/deploy-docs.yaml
  .github/workflows/github-release.yaml
  .github/workflows/json-schema-check.yaml
  .github/workflows/openai-pr-reviewer.yaml
  .github/workflows/pr-labeler.yaml
  .github/workflows/pre-commit-optional.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/spell-check-all.yaml
  .github/workflows/spell-check-partial.yaml
  .github/workflows/sync-files.yaml
  .github/workflows/update-codeowners-from-packages.yaml
Labels: type:ci, tag:run-build-and-test-differential

#129 fix(planning_debug_tools): fix a bug of perception reproducer
  planning/planning_debug_tools/scripts/perception_replayer/perception_reproducer.py
Labels: tag:run-build-and-test-differential, component:planning

#136 feat: add "skip_plt_show" arg to plotter
  common/autoware_debug_tools/autoware_debug_tools/system_performance_plotter/system_performance_plotter_base.py
Labels: tag:run-build-and-test-differential, component:common

#137 fix(system_usage_monitor): change the node search method
  common/autoware_debug_tools/autoware_debug_tools/system_usage_monitor.py
Labels: tag:run-build-and-test-differential, component:common

#134 feat(control_data_collecting_tool): add safety measures and rosbag recording and loading
  control_data_collecting_tool/CMakeLists.txt
  control_data_collecting_tool/README.md
  control_data_collecting_tool/config/param.yaml
  control_data_collecting_tool/config/topics.yaml
  control_data_collecting_tool/launch/control_data_collecting_tool.launch.py
  control_data_collecting_tool/scripts/data_collecting_base_node.py
  control_data_collecting_tool/scripts/data_collecting_data_counter.py
  control_data_collecting_tool/scripts/data_collecting_plotter.py
  control_data_collecting_tool/scripts/data_collecting_rosbag_record.py
  control_data_collecting_tool/scripts/data_collecting_trajectory_publisher.py
  control_data_collecting_tool/scripts/rosbag_play.py
Labels: tag:run-build-and-test-differential, type:documentation

#138 feat(control_debug_tools): smooth graph lateral_deviation_monitor
  control/control_debug_tools/scripts/lateral_deviation_monitor.py
Labels: tag:run-build-and-test-differential, component:control

#139 feat(rviz): add new plugin to show string stamped
  common/tier4_string_viewer_rviz_plugin/CMakeLists.txt
  common/tier4_string_viewer_rviz_plugin/README.md
  common/tier4_string_viewer_rviz_plugin/icons/classes/AutowareDateTimePanel.png
  common/tier4_string_viewer_rviz_plugin/images/select_datetime_plugin.png
  common/tier4_string_viewer_rviz_plugin/images/select_panels.png
  common/tier4_string_viewer_rviz_plugin/package.xml
  common/tier4_string_viewer_rviz_plugin/plugins/plugin_description.xml
  common/tier4_string_viewer_rviz_plugin/src/string_viewer_panel.cpp
  common/tier4_string_viewer_rviz_plugin/src/string_viewer_panel.hpp
Labels: tag:run-build-and-test-differential, type:documentation, component:common

#140 feat(rviz): make it possible to set default topic name
  common/tier4_string_viewer_rviz_plugin/src/string_viewer_panel.cpp
  common/tier4_string_viewer_rviz_plugin/src/string_viewer_panel.hpp
Labels: tag:run-build-and-test-differential, component:common

#118 feat(autoware_lanelet2_map_validator): introduce autoware_lanelet2_map_validator
  map/autoware_lanelet2_map_validator/CMakeLists.txt
  map/autoware_lanelet2_map_validator/README.md
  map/autoware_lanelet2_map_validator/autoware_requirement_set.json
  map/autoware_lanelet2_map_validator/docs/crosswalk/missing_regulatory_elements_for_crosswalk.md
  map/autoware_lanelet2_map_validator/docs/crosswalk/regulatory_element_details_for_crosswalks.md
  map/autoware_lanelet2_map_validator/docs/stop_line/missing_regulatory_elements_for_stop_lines.md
  map/autoware_lanelet2_map_validator/docs/traffic_light/missing_regulatory_elements_for_traffic_lights.md
  map/autoware_lanelet2_map_validator/docs/traffic_light/regulatory_element_details_for_traffic_lights.md
  map/autoware_lanelet2_map_validator/media/autoware_lanelet2_map_validator_architecture.drawio.svg
  map/autoware_lanelet2_map_validator/package.xml
  map/autoware_lanelet2_map_validator/src/common/cli.cpp
  map/autoware_lanelet2_map_validator/src/common/cli.hpp
  map/autoware_lanelet2_map_validator/src/common/utils.hpp
  map/autoware_lanelet2_map_validator/src/common/validation.cpp
  map/autoware_lanelet2_map_validator/src/common/validation.hpp
  map/autoware_lanelet2_map_validator/src/main.cpp
  map/autoware_lanelet2_map_validator/src/validators/crosswalk/missing_regulatory_elements_for_crosswalk.cpp
  map/autoware_lanelet2_map_validator/src/validators/crosswalk/missing_regulatory_elements_for_crosswalks.hpp
  map/autoware_lanelet2_map_validator/src/validators/crosswalk/regulatory_element_details_for_crosswalks.cpp
  map/autoware_lanelet2_map_validator/src/validators/crosswalk/regulatory_element_details_for_crosswalks.hpp
  map/autoware_lanelet2_map_validator/src/validators/stop_line/missing_regulatory_elements_for_stop_lines.cpp
  map/autoware_lanelet2_map_validator/src/validators/stop_line/missing_regulatory_elements_for_stop_lines.hpp
  map/autoware_lanelet2_map_validator/src/validators/traffic_light/missing_regulatory_elements_for_traffic_lights.cpp
  map/autoware_lanelet2_map_validator/src/validators/traffic_light/missing_regulatory_elements_for_traffic_lights.hpp
  map/autoware_lanelet2_map_validator/src/validators/traffic_light/regulatory_element_details_for_traffic_lights.cpp
  map/autoware_lanelet2_map_validator/src/validators/traffic_light/regulatory_element_details_for_traffic_lights.hpp
  map/autoware_lanelet2_map_validator/src/validators/validator_template.cpp
  map/autoware_lanelet2_map_validator/src/validators/validator_template.hpp
  map/autoware_lanelet2_map_validator/test/example_requirement_set.json
  map/autoware_lanelet2_map_validator/test/src/test_missing_regulatory_elements.cpp
  map/autoware_lanelet2_map_validator/test/src/test_regulatory_element_details.cpp
Labels: tag:run-build-and-test-differential, type:documentation, tag:deploy-docs, component:map
