Repository autowarefoundation/autoware_tools, pull requests merged in 2025-07, with the labels that each got.

#254 feat(pointcloud projection converter): add new package, pointcloud projection converter
  map/autoware_pointcloud_projection_converter/CMakeLists.txt
  map/autoware_pointcloud_projection_converter/README.md
  map/autoware_pointcloud_projection_converter/config/input.yaml
  map/autoware_pointcloud_projection_converter/config/output.yaml
  map/autoware_pointcloud_projection_converter/launch/pointcloud_projection_converter.launch.xml
  map/autoware_pointcloud_projection_converter/package.xml
  map/autoware_pointcloud_projection_converter/src/converter_from_llh.cpp
  map/autoware_pointcloud_projection_converter/src/converter_to_llh.cpp
  map/autoware_pointcloud_projection_converter/src/include/converter_from_llh.hpp
  map/autoware_pointcloud_projection_converter/src/include/converter_to_llh.hpp
  map/autoware_pointcloud_projection_converter/src/include/lat_lon_alt.hpp
  map/autoware_pointcloud_projection_converter/src/pcd_conversion.cpp
Labels: tag:run-build-and-test-differential, type:documentation, component:map

#271 fix(static_centerline_generator): do not embed a single point centerline
  planning/autoware_static_centerline_generator/README.md
  planning/autoware_static_centerline_generator/src/utils.cpp
Labels: tag:run-build-and-test-differential, type:documentation, component:planning

#280 fix(parameter_estimatior): update package dependencies
  vehicle/parameter_estimator/launch/parameter_estimator_with_simulation.launch.xml
  vehicle/parameter_estimator/package.xml
Labels: tag:run-build-and-test-differential, component:vehicle
