Repository autowarefoundation/autoware_tools, pull requests merged in 2025-09, with the labels that each got.

#298 feat(autoware_localization_evaluation_scripts): detect rise/fall flags of localization diagnostics
  localization/autoware_localization_evaluation_scripts/CMakeLists.txt
  localization/autoware_localization_evaluation_scripts/README.md
  localization/autoware_localization_evaluation_scripts/scripts/analyze_rosbags_parallel.py
  localization/autoware_localization_evaluation_scripts/scripts/diagnostics_flag_check.py
Labels: tag:run-build-and-test-differential, type:documentation, component:localization

#300 feat(planning_debug_tools): improve trajectory visualizer usability
  planning/planning_debug_tools/scripts/trajectory_visualizer/gui.py
  planning/planning_debug_tools/scripts/trajectory_visualizer/plotter.py
  planning/planning_debug_tools/scripts/trajectory_visualizer/trajectory_data.py
Labels: tag:run-build-and-test-differential, component:planning

#274 fix(static_centerline_generator): inside centerline start point in start lanelet
  planning/autoware_static_centerline_generator/src/centerline_source/optimization_trajectory_based_centerline.cpp
Labels: tag:run-build-and-test-differential, component:planning

#305 feat(static_centerline): add jitter validation
  planning/autoware_static_centerline_generator/README.md
  planning/autoware_static_centerline_generator/launch/static_centerline_generator.launch.xml
  planning/autoware_static_centerline_generator/media/rviz.png
  planning/autoware_static_centerline_generator/media/unsafe_footprints.png
  planning/autoware_static_centerline_generator/src/main.cpp
  planning/autoware_static_centerline_generator/src/static_centerline_generator_node.cpp
  planning/autoware_static_centerline_generator/src/static_centerline_generator_node.hpp
Labels: tag:run-build-and-test-differential, type:documentation, component:planning
