Repository autowarefoundation/autoware_tools, pull requests merged in 2025-05, with the labels that each got.

#241 feat(static_centerline_generator): visualize iterative planning results and introduce glog
  build_depends.repos
  planning/autoware_static_centerline_generator/CMakeLists.txt
  planning/autoware_static_centerline_generator/config/static_centerline_generator.param.yaml
  planning/autoware_static_centerline_generator/package.xml
  planning/autoware_static_centerline_generator/rviz/static_centerline_generator.rviz
  planning/autoware_static_centerline_generator/src/centerline_source/optimization_trajectory_based_centerline.cpp
  planning/autoware_static_centerline_generator/src/centerline_source/optimization_trajectory_based_centerline.hpp
  planning/autoware_static_centerline_generator/src/static_centerline_generator_node.cpp
  planning/autoware_static_centerline_generator/src/utils.cpp
Labels: tag:run-build-and-test-differential, component:planning

#249 fix(static_centerline_generator): collision check on overlapped lanes and more visualization for debugging
  planning/autoware_static_centerline_generator/README.md
  planning/autoware_static_centerline_generator/media/static_centerline_generator_architecture.drawio.svg
  planning/autoware_static_centerline_generator/scripts/tmp/optimization_trajectory_based_centerline.sh
  planning/autoware_static_centerline_generator/scripts/tmp/optimization_trajectory_based_centerline_with_sample_map.sh
  planning/autoware_static_centerline_generator/src/centerline_source/optimization_trajectory_based_centerline.cpp
  planning/autoware_static_centerline_generator/src/main.cpp
  planning/autoware_static_centerline_generator/src/static_centerline_generator_node.cpp
  planning/autoware_static_centerline_generator/src/static_centerline_generator_node.hpp
  planning/autoware_static_centerline_generator/src/utils.cpp
  planning/autoware_static_centerline_generator/src/utils.hpp
  planning/autoware_static_centerline_generator/test/test_static_centerline_generator.test.py
Labels: tag:run-build-and-test-differential, type:documentation, component:planning

#250 feat(static_centerline_generator): add various tests
  planning/autoware_static_centerline_generator/CMakeLists.txt
  planning/autoware_static_centerline_generator/README.md
  planning/autoware_static_centerline_generator/config/static_centerline_generator.param.yaml
  planning/autoware_static_centerline_generator/launch/static_centerline_generator.launch.xml
  planning/autoware_static_centerline_generator/rviz/static_centerline_generator.rviz
  planning/autoware_static_centerline_generator/scripts/tmp/bag_ego_trajectory_based_centerline.sh
  planning/autoware_static_centerline_generator/scripts/tmp/optimization_trajectory_based_centerline.sh
  planning/autoware_static_centerline_generator/scripts/tmp/optimization_trajectory_based_centerline_with_sample_map.sh
  planning/autoware_static_centerline_generator/src/centerline_source/optimization_trajectory_based_centerline.cpp
  planning/autoware_static_centerline_generator/src/centerline_source/optimization_trajectory_based_centerline.hpp
  planning/autoware_static_centerline_generator/src/static_centerline_generator_node.cpp
  planning/autoware_static_centerline_generator/src/static_centerline_generator_node.hpp
  planning/autoware_static_centerline_generator/test/data/bag_ego_trajectory.db3
  planning/autoware_static_centerline_generator/test/data/bag_ego_trajectory_turn-left-right.db3
  planning/autoware_static_centerline_generator/test/data/bag_ego_trajectory_turn-right.db3
  planning/autoware_static_centerline_generator/test/data/cargo_transport_map.osm
  planning/autoware_static_centerline_generator/test/data/lanelet2_map.osm
  planning/autoware_static_centerline_generator/test/test_static_centerline_generator.test.py
  planning/autoware_static_centerline_generator/test/test_static_centerline_generator_behavior_path_planner_launch.test.py
  planning/autoware_static_centerline_generator/test/test_static_centerline_generator_default_launch.test.py
  planning/autoware_static_centerline_generator/test/test_static_centerline_generator_fixed_goal_planner_launch.test.py
  planning/autoware_static_centerline_generator/test/test_static_centerline_generator_gui_launch.test.py
  planning/autoware_static_centerline_generator/test/test_static_centerline_generator_launch.test.py
  planning/autoware_static_centerline_generator/test/test_static_centerline_generator_path_generator_case1_launch.test.py
  planning/autoware_static_centerline_generator/test/test_static_centerline_generator_path_generator_case2_launch.test.py
  planning/autoware_static_centerline_generator/test/test_static_centerline_generator_path_generator_case3_launch.test.py
  planning/autoware_static_centerline_generator/test/test_static_centerline_generator_path_generator_case4_launch.test.py
  planning/autoware_static_centerline_generator/test/test_static_centerline_generator_path_generator_launch.test.py
  planning/autoware_static_centerline_generator/test/utils/test_static_centerline_generator_launch_base.py
  planning/autoware_static_centerline_generator/test/utils/test_utils.py
Labels: tag:run-build-and-test-differential, type:documentation, component:planning

#257 ci(build-and-test-diff): use self hosted runners
  .github/workflows/build-and-test-differential.yaml
Labels: tag:run-build-and-test-differential

#251 feat(planning_debug_tools): add trajectory visualizer tool
  planning/planning_debug_tools/scripts/trajectory_visualizer/README.md
  planning/planning_debug_tools/scripts/trajectory_visualizer/gui.py
  planning/planning_debug_tools/scripts/trajectory_visualizer/plotter.py
  planning/planning_debug_tools/scripts/trajectory_visualizer/ros2_interface.py
  planning/planning_debug_tools/scripts/trajectory_visualizer/trajectory_data.py
  planning/planning_debug_tools/scripts/trajectory_visualizer/visualizer.py
Labels: tag:run-build-and-test-differential, type:documentation, component:planning
