Repository autowarefoundation/autoware_tools, pull requests merged in 2025-04, with the labels that each got.

#213 feat: add tools to collect and check average TPs of PCD maps
  map/autoware_pointcloud_divider/README.md
  map/autoware_pointcloud_divider/launch/pointcloud_divider.launch.xml
  map/autoware_tp_manager/CMakeLists.txt
  map/autoware_tp_manager/README.md
  map/autoware_tp_manager/package.xml
  map/autoware_tp_manager/schema/tp_manager.schema.json
  map/autoware_tp_manager/scripts/tp_checker.py
  map/autoware_tp_manager/scripts/tp_collector.py
  map/autoware_tp_manager/scripts/tp_utility.py
  map/autoware_tp_manager/scripts/tp_visualizer.py
Labels: tag:run-build-and-test-differential, type:documentation, component:map

#230 feat(control_debug_tools): improve consistency checker script
  control/control_debug_tools/scripts/README.md
  control/control_debug_tools/scripts/consistency_checker.py
Labels: tag:run-build-and-test-differential, type:documentation, component:control

#236 ci(spell-check*): add missing .cspell-partial reference and missing dicts
  .github/sync-files.yaml
  .github/workflows/spell-check-all.yaml
  .github/workflows/spell-check-differential.yaml
Labels: type:ci, tag:run-build-and-test-differential

#237 feat(autoware_localization_evaluation_scripts): add parse accel
  localization/autoware_localization_evaluation_scripts/CMakeLists.txt
  localization/autoware_localization_evaluation_scripts/scripts/analyze_rosbags_parallel.py
  localization/autoware_localization_evaluation_scripts/scripts/extract_values_from_rosbag.py
  localization/autoware_localization_evaluation_scripts/scripts/utils/parse_functions.py
Labels: tag:run-build-and-test-differential, component:localization

#238 feat(build_depends.repos): update autoware_lanelet2_extension v0.7.0
  build_depends.repos
  common/autoware_sample_vehicle_description/package.xml
Labels: tag:run-build-and-test-differential, component:common

#239 feat(build_depends.repos): use fixed version for autoware and universe repository
  build_depends.repos
Labels: tag:run-build-and-test-differential
