Repository autowarefoundation/autoware_tools, pull requests merged in 2025-01, with the labels that each got.

#191 docs(autoware_lanelet2_map_validator): update usage
  map/autoware_lanelet2_map_validator/README.md
Labels: tag:run-build-and-test-differential, type:documentation, component:map

#185 feat(control_data_collecting_tool): add constant acceleration/actuation mode
  control_data_collecting_tool/CMakeLists.txt
  control_data_collecting_tool/README.md
  control_data_collecting_tool/config/common_param.yaml
  control_data_collecting_tool/config/constant_cmd_param/acceleration_cmd_param.yaml
  control_data_collecting_tool/config/constant_cmd_param/actuation_cmd_param.yaml
  control_data_collecting_tool/config/topics.yaml
  control_data_collecting_tool/launch/control_data_collecting_tool.launch.py
  control_data_collecting_tool/resource/looking_ahead.png
  control_data_collecting_tool/scripts/accel_brake_map.py
  control_data_collecting_tool/scripts/calibration/data_collecting_acceleration_cmd.py
  control_data_collecting_tool/scripts/calibration/data_collecting_actuation_cmd.py
  control_data_collecting_tool/scripts/calibration/lib/command.py
  control_data_collecting_tool/scripts/calibration/lib/cui.py
  control_data_collecting_tool/scripts/calibration/lib/rosbag.py
  control_data_collecting_tool/scripts/calibration/lib/system.py
  control_data_collecting_tool/scripts/courses/along_road.py
  control_data_collecting_tool/scripts/courses/base_course.py
  control_data_collecting_tool/scripts/courses/figure_eight.py
  control_data_collecting_tool/scripts/courses/reversal_loop_circle.py
  control_data_collecting_tool/scripts/courses/straight_line_negative.py
  control_data_collecting_tool/scripts/courses/straight_line_positive.py
  control_data_collecting_tool/scripts/data_collecting_base_node.py
  control_data_collecting_tool/scripts/data_collecting_data_counter.py
  control_data_collecting_tool/scripts/data_collecting_pure_pursuit_trajectory_follower_acceleration_cmd.py
  control_data_collecting_tool/scripts/data_collecting_pure_pursuit_trajectory_follower_actuation_cmd.py
  control_data_collecting_tool/scripts/data_collecting_trajectory_publisher.py
  control_data_collecting_tool/scripts/params.py
Labels: tag:run-build-and-test-differential, type:documentation

#188 fix(lanelet2_map_validator): restore missing intersection lane and removed unnecessary linestrings from intersection test maps
  map/autoware_lanelet2_map_validator/test/data/map/intersection/basic_intersection_area.osm
  map/autoware_lanelet2_map_validator/test/data/map/intersection/intersection_area_with_dangling_reference.osm
  map/autoware_lanelet2_map_validator/test/data/map/intersection/intersection_area_with_irrelative_point.osm
  map/autoware_lanelet2_map_validator/test/data/map/intersection/intersection_area_with_self_intersection.osm
  map/autoware_lanelet2_map_validator/test/data/map/intersection/intersection_area_with_wrong_linestring_type.osm
  map/autoware_lanelet2_map_validator/test/data/map/intersection/intersection_area_with_wrong_orientation.osm
  map/autoware_lanelet2_map_validator/test/data/map/sample_map.osm
Labels: tag:run-build-and-test-differential, component:map

#189 feat: add autoware_static_centerline_generator
  planning/autoware_static_centerline_generator/CMakeLists.txt
  planning/autoware_static_centerline_generator/README.md
  planning/autoware_static_centerline_generator/config/common.param.yaml
  planning/autoware_static_centerline_generator/config/nearest_search.param.yaml
  planning/autoware_static_centerline_generator/config/static_centerline_generator.param.yaml
  planning/autoware_static_centerline_generator/config/vehicle_info.param.yaml
  planning/autoware_static_centerline_generator/launch/run_planning_server.launch.xml
  planning/autoware_static_centerline_generator/launch/static_centerline_generator.launch.xml
  planning/autoware_static_centerline_generator/media/rviz.png
  planning/autoware_static_centerline_generator/media/unsafe_footprints.png
  planning/autoware_static_centerline_generator/msg/PointsWithLaneId.msg
  planning/autoware_static_centerline_generator/package.xml
  planning/autoware_static_centerline_generator/rviz/static_centerline_generator.rviz
  planning/autoware_static_centerline_generator/scripts/app.py
  planning/autoware_static_centerline_generator/scripts/centerline_updater_helper.py
  planning/autoware_static_centerline_generator/scripts/show_lanelet2_map_diff.py
  planning/autoware_static_centerline_generator/scripts/tmp/bag_ego_trajectory_based_centerline.sh
  planning/autoware_static_centerline_generator/scripts/tmp/optimization_trajectory_based_centerline.sh
  planning/autoware_static_centerline_generator/src/centerline_source/bag_ego_trajectory_based_centerline.cpp
  planning/autoware_static_centerline_generator/src/centerline_source/bag_ego_trajectory_based_centerline.hpp
  planning/autoware_static_centerline_generator/src/centerline_source/optimization_trajectory_based_centerline.cpp
  planning/autoware_static_centerline_generator/src/centerline_source/optimization_trajectory_based_centerline.hpp
  planning/autoware_static_centerline_generator/src/main.cpp
  planning/autoware_static_centerline_generator/src/static_centerline_generator_node.cpp
  planning/autoware_static_centerline_generator/src/static_centerline_generator_node.hpp
  planning/autoware_static_centerline_generator/src/type_alias.hpp
  planning/autoware_static_centerline_generator/src/utils.cpp
  planning/autoware_static_centerline_generator/src/utils.hpp
  planning/autoware_static_centerline_generator/srv/LoadMap.srv
  planning/autoware_static_centerline_generator/srv/PlanPath.srv
  planning/autoware_static_centerline_generator/srv/PlanRoute.srv
  planning/autoware_static_centerline_generator/test/data/bag_ego_trajectory_turn-left-right.db3
  planning/autoware_static_centerline_generator/test/data/bag_ego_trajectory_turn-right.db3
  planning/autoware_static_centerline_generator/test/data/lanelet2_map.osm
  planning/autoware_static_centerline_generator/test/test_static_centerline_generator.test.py
Labels: tag:run-build-and-test-differential, type:documentation, component:planning

#193 docs(lanelet2_map_validator): update README
  map/autoware_lanelet2_map_validator/README.md
  map/autoware_lanelet2_map_validator/docs/how_to_contribute.md
Labels: tag:run-build-and-test-differential, type:documentation, component:map

#186 feat(lanelet2_map_validator): add validator to check whether intersection lanelets have valid turn_direction tags
  map/autoware_lanelet2_map_validator/autoware_requirement_set.json
  map/autoware_lanelet2_map_validator/docs/intersection/turn_direction_tagging.md
  map/autoware_lanelet2_map_validator/src/include/lanelet2_map_validator/validators/intersection/turn_direction_tagging.hpp
  map/autoware_lanelet2_map_validator/src/validators/intersection/turn_direction_tagging.cpp
  map/autoware_lanelet2_map_validator/test/data/map/intersection/intersection_area_with_invalid_turn_direction_tag.osm
  map/autoware_lanelet2_map_validator/test/data/map/intersection/intersection_area_without_straight_tag.osm
  map/autoware_lanelet2_map_validator/test/src/intersection/test_turn_direction_tagging.cpp
Labels: tag:run-build-and-test-differential, type:documentation, component:map

#195 feat(autoware_static_centerline_generator): rename autoware_mission_planner to autoware_mission_planner_universe
  planning/autoware_static_centerline_generator/launch/static_centerline_generator.launch.xml
  planning/autoware_static_centerline_generator/package.xml
  planning/autoware_static_centerline_generator/src/static_centerline_generator_node.cpp
  planning/autoware_static_centerline_generator/test/test_static_centerline_generator.test.py
  planning/autoware_static_centerline_generator/test/test_static_centerline_generator_launch.test.py
Labels: tag:run-build-and-test-differential, component:planning

#197 feat(deviation_estimation_tools): replace tier4_debug_msgs with tier4_internal_debug_msgs
  localization/deviation_estimation_tools/deviation_estimator/include/deviation_estimator/deviation_estimator.hpp
  localization/deviation_estimation_tools/deviation_estimator/include/deviation_estimator/utils.hpp
  localization/deviation_estimation_tools/deviation_estimator/include/deviation_estimator/velocity_coef_module.hpp
  localization/deviation_estimation_tools/deviation_estimator/package.xml
  localization/deviation_estimation_tools/deviation_estimator/src/deviation_estimator.cpp
  localization/deviation_estimation_tools/deviation_estimator/src/deviation_estimator_main.cpp
  localization/deviation_estimation_tools/deviation_estimator/src/utils.cpp
  localization/deviation_estimation_tools/deviation_evaluator/include/deviation_evaluator/deviation_evaluator.hpp
  localization/deviation_estimation_tools/deviation_evaluator/package.xml
Labels: tag:run-build-and-test-differential, component:localization

#199 feat(autoware_planning_data_analyzer)!: replace tier4_debug_msgs with tier4_internal_debug_msgs
  planning/autoware_planning_data_analyzer/README.md
  planning/autoware_planning_data_analyzer/package.xml
  planning/autoware_planning_data_analyzer/src/type_alias.hpp
Labels: tag:run-build-and-test-differential, type:documentation, component:planning

#200 feat(planning_debug_tools)!: replace tier4_debug_msgs with tier4_internal_debug_msgs
  planning/planning_debug_tools/include/planning_debug_tools/trajectory_analyzer.hpp
  planning/planning_debug_tools/package.xml
  planning/planning_debug_tools/scripts/closest_velocity_checker.py
  planning/planning_debug_tools/scripts/processing_time_checker.py
Labels: tag:run-build-and-test-differential, component:planning

#201 feat(stop_accel_evaluator)!: replace tier4_debug_msgs with tier4_internal_debug_msgs
  control/stop_accel_evaluator/include/stop_accel_evaluator/stop_accel_evaluator_node.hpp
  control/stop_accel_evaluator/package.xml
Labels: tag:run-build-and-test-differential, component:control

#202 feat(tier4_debug_rviz_plugin)!: replace tier4_debug_msgs with tier4_internal_debug_msgs
  common/tier4_debug_rviz_plugin/README.md
  common/tier4_debug_rviz_plugin/include/tier4_debug_rviz_plugin/float32_multi_array_stamped_pie_chart.hpp
  common/tier4_debug_rviz_plugin/package.xml
  common/tier4_debug_rviz_plugin/plugins/plugin_description.xml
  common/tier4_debug_rviz_plugin/src/float32_multi_array_stamped_pie_chart.cpp
Labels: tag:run-build-and-test-differential, type:documentation, component:common

#203 feat(tier4_debug_tools)!: replace tier4_debug_msgs with tier4_internal_debug_msgs
  common/tier4_debug_tools/include/tier4_debug_tools/lateral_error_publisher.hpp
  common/tier4_debug_tools/package.xml
  common/tier4_debug_tools/src/lateral_error_publisher.cpp
Labels: tag:run-build-and-test-differential, component:common

#204 feat(vehicle_cmd_analyzer)!: replace tier4_debug_msgs with tier4_internal_debug_msgs
  control/vehicle_cmd_analyzer/include/vehicle_cmd_analyzer/vehicle_cmd_analyzer.hpp
  control/vehicle_cmd_analyzer/package.xml
  control/vehicle_cmd_analyzer/src/vehicle_cmd_analyzer.cpp
Labels: tag:run-build-and-test-differential, component:control

#198 feat(parameter_estimator)!: replace tier4_debug_msgs with tier4_internal_debug_msgs
  vehicle/parameter_estimator/include/parameter_estimator/debugger.hpp
  vehicle/parameter_estimator/package.xml
Labels: tag:run-build-and-test-differential, component:vehicle

#194 feat(lanelet2_map_validator): check local coordinates declaration
  map/autoware_lanelet2_map_validator/docs/lane/local_coordinates_declaration.md
  map/autoware_lanelet2_map_validator/src/include/lanelet2_map_validator/validators/lane/local_coordinates_declaration.hpp
  map/autoware_lanelet2_map_validator/src/validators/lane/local_coordinates_declaration.cpp
  map/autoware_lanelet2_map_validator/test/data/map/lane/single_lanelet.osm
  map/autoware_lanelet2_map_validator/test/data/map/lane/single_lanelet_first_three_points_missing_local_coordinates.osm
  map/autoware_lanelet2_map_validator/test/data/map/lane/single_lanelet_partially_defected_local_coordinates.osm
  map/autoware_lanelet2_map_validator/test/data/map/lane/single_lanelet_without_local_coordinates.osm
  map/autoware_lanelet2_map_validator/test/src/lane/test_local_coordinates_declaration.cpp
Labels: tag:run-build-and-test-differential, type:documentation, component:map
