Repository autowarefoundation/autoware_tools, pull requests merged in 2025-08, with the labels that each got.

#283 ci(build-and-test): fix ci issues
  .github/workflows/build-and-test.yaml
  build_depends.repos
  planning/autoware_static_centerline_generator/CMakeLists.txt
  planning/autoware_static_centerline_generator/test/test_static_centerline_generator_gui_launch.test.py
  planning/autoware_static_centerline_generator/test/utils/test_utils.py
Labels: type:ci, tag:run-build-and-test-differential, component:planning

#285 fix(autoware_static_centerline_generator): fix test dependency
  planning/autoware_static_centerline_generator/package.xml
Labels: tag:run-build-and-test-differential, component:planning

#288 feat: change planning output topic name to /planning/trajectory
  common/tier4_debug_tools/launch/lateral_error_publisher.launch.xml
  planning/autoware_planning_data_analyzer/launch/behavior_analyzer.launch.xml
  planning/autoware_planning_data_analyzer/src/data_structs.cpp
  planning/planning_debug_tools/README.md
  planning/planning_debug_tools/launch/behavior_velocity_analyzer.launch.xml
  planning/planning_debug_tools/launch/trajectory_analyzer.launch.xml
  planning/planning_debug_tools/scripts/trajectory_visualizer.py
  planning/planning_debug_tools/scripts/trajectory_visualizer/config.yaml
Labels: tag:run-build-and-test-differential, type:documentation, component:common, component:planning

#290 fix: show motion velocity planner output by default
  planning/planning_debug_tools/scripts/trajectory_visualizer/config.yaml
Labels: tag:run-build-and-test-differential, component:planning

#297 feat(autoware_localization_evaluation_scripts): create masks for each criterion
  localization/autoware_localization_evaluation_scripts/README.md
  localization/autoware_localization_evaluation_scripts/scripts/analyze_rosbags_parallel.py
Labels: tag:run-build-and-test-differential
