Repository autowarefoundation/autoware_tools, pull requests merged in 2025-02, with the labels that each got.

#206 feat!: replace tier4_planning_msgs/PathWithLaneId with autoware_internal_planning_msgs/PathWithLaneId
  planning/autoware_static_centerline_generator/src/type_alias.hpp
  planning/planning_debug_tools/include/planning_debug_tools/trajectory_analyzer.hpp
  planning/planning_debug_tools/include/planning_debug_tools/util.hpp
  planning/planning_debug_tools/package.xml
  planning/planning_debug_tools/scripts/closest_velocity_checker.py
  planning/planning_debug_tools/scripts/trajectory_visualizer.py
Labels: tag:run-build-and-test-differential, component:planning

#212 fix(driving_environment_analyzer): add missing include files for autoware_universe_utils
  driving_environment_analyzer/src/utils.cpp
Labels: tag:run-build-and-test-differential

#172 feat(autoware_debug_tools): add frequent_log_checker.py
  common/autoware_debug_tools/README.md
  common/autoware_debug_tools/autoware_debug_tools/frequent_log_checker.py
  common/autoware_debug_tools/setup.py
Labels: tag:run-build-and-test-differential, type:documentation, component:common

#215 feat: add `autoware_localization_evaluation_scripts`
  localization/autoware_localization_evaluation_scripts/CMakeLists.txt
  localization/autoware_localization_evaluation_scripts/README.md
  localization/autoware_localization_evaluation_scripts/media/ndt_scan_matcher__scan_matching_status.png
  localization/autoware_localization_evaluation_scripts/package.xml
  localization/autoware_localization_evaluation_scripts/scripts/plot_diagnostics.py
Labels: tag:run-build-and-test-differential, type:documentation, component:localization

#216 feat: add `compare_trajectories.py` and `extract_pose_from_rosbag.py`
  localization/autoware_localization_evaluation_scripts/CMakeLists.txt
  localization/autoware_localization_evaluation_scripts/README.md
  localization/autoware_localization_evaluation_scripts/scripts/compare_trajectories.py
  localization/autoware_localization_evaluation_scripts/scripts/extract_pose_from_rosbag.py
  localization/autoware_localization_evaluation_scripts/scripts/utils/calc_relative_pose.py
  localization/autoware_localization_evaluation_scripts/scripts/utils/interpolate_pose.py
  localization/autoware_localization_evaluation_scripts/scripts/utils/parse_functions.py
Labels: tag:run-build-and-test-differential, type:documentation, component:localization
