Repository autowarefoundation/autoware_tools, pull requests merged in 2025-06, with the labels that each got.

#246 feat(planning/perception_reproducer): add mcap bag format support
  planning/planning_debug_tools/package.xml
  planning/planning_debug_tools/scripts/perception_replayer/perception_replayer.py
  planning/planning_debug_tools/scripts/perception_replayer/perception_replayer_common.py
  planning/planning_debug_tools/scripts/perception_replayer/perception_reproducer.py
  planning/planning_debug_tools/scripts/perception_replayer/utils.py
Labels: tag:run-build-and-test-differential, component:planning

#260 feat: add `summary.json`
  localization/autoware_localization_evaluation_scripts/scripts/analyze_rosbags_parallel.py
  localization/autoware_localization_evaluation_scripts/scripts/utils/calc_relative_pose.py
  localization/autoware_localization_evaluation_scripts/scripts/utils/interpolate_pose.py
Labels: tag:run-build-and-test-differential, component:localization

#261 fix: to apply to a pose only tsv file
  localization/autoware_localization_evaluation_scripts/scripts/utils/calc_relative_pose.py
Labels: tag:run-build-and-test-differential, component:localization

#263 feat(rqt_diagnostic_graph_monitor): reflect diagnostic graph msg change
  system/rqt_diagnostic_graph_monitor/python/graph.py
  system/rqt_diagnostic_graph_monitor/python/widget.py
Labels: tag:run-build-and-test-differential, component:system

#266 chore: change the maintainer of `autoware_localization_evaluation_scripts`
  localization/autoware_localization_evaluation_scripts/package.xml
Labels: tag:run-build-and-test-differential, component:localization

#265 feat: add acceleration evaluation
  localization/autoware_localization_evaluation_scripts/scripts/analyze_rosbags_parallel.py
  localization/autoware_localization_evaluation_scripts/scripts/utils/calc_acceleration_diff.py
  localization/autoware_localization_evaluation_scripts/scripts/utils/calc_relative_pose.py
  localization/autoware_localization_evaluation_scripts/scripts/utils/interpolate_pose.py
Labels: tag:run-build-and-test-differential, component:localization

#267 fix: change the criteria for localization
  localization/autoware_localization_evaluation_scripts/scripts/analyze_rosbags_parallel.py
Labels: tag:run-build-and-test-differential, component:localization
