Repository autowarefoundation/autoware_tools, pull requests merged in 2025-03, with the labels that each got.

#219 fix(autoware_localization_evaluation_scripts): change target directories
  localization/autoware_localization_evaluation_scripts/scripts/analyze_rosbags_parallel.py
  localization/autoware_localization_evaluation_scripts/scripts/utils/parse_functions.py
Labels: tag:run-build-and-test-differential, component:localization

#220 fix: set save dir
  localization/autoware_localization_evaluation_scripts/scripts/analyze_rosbags_parallel.py
Labels: tag:run-build-and-test-differential, component:localization

#221 fix(autoware_localization_evaluation_scripts): add `plt.close()`
  localization/autoware_localization_evaluation_scripts/scripts/plot_diagnostics.py
Labels: tag:run-build-and-test-differential, component:localization

#224 fix(autoware_debug_tools): time keeper does not work with the old message type
  common/autoware_debug_tools/autoware_debug_tools/processing_time_visualizer/node.py
  common/autoware_debug_tools/autoware_debug_tools/processing_time_visualizer/tree.py
Labels: tag:run-build-and-test-differential, component:common

#223 feat(planning_debug_tools)!: replace VelocityLimit messages to autoware_internal_planning_msgs
  build_depends.repos
  planning/planning_debug_tools/scripts/closest_velocity_checker.py
  planning/planning_debug_tools/scripts/trajectory_visualizer.py
Labels: tag:run-build-and-test-differential, component:planning

#225 fix(autoware_static_centerline_generator): changes to support modifications made to autoware.core
  planning/autoware_static_centerline_generator/src/centerline_source/optimization_trajectory_based_centerline.cpp
Labels: tag:run-build-and-test-differential, component:planning

#218 fix: mission_planner parameter path in static_centerline_generator launch file
  planning/autoware_static_centerline_generator/launch/static_centerline_generator.launch.xml
Labels: tag:run-build-and-test-differential, component:planning

#228 fix(frequent_log_checker): print the largest number of each frequent log
  common/autoware_debug_tools/autoware_debug_tools/frequent_log_checker.py
Labels: tag:run-build-and-test-differential, component:common

#232 feat(tier4_screen_capture_rviz_plugin): add buffer change bottom
  common/tier4_screen_capture_rviz_plugin/src/screen_capture_panel.cpp
  common/tier4_screen_capture_rviz_plugin/src/screen_capture_panel.hpp
  common/tier4_screen_capture_rviz_plugin/srv/Capture.srv
Labels: tag:run-build-and-test-differential, component:common
